{% extends "base.html" %}

{% block content %}
{% load l10n %}
{%block title%}<title>{{title}}</title>{%endblock title%}

<!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{{ form.media.css }}

<div class="container">
  <form action='{% url "secretariador:update-solicitud" object.id %}' method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{form.as_div}}
    {{comisionadosformset.management_form}}
    <span class="fs-4 p-0">Comisionados</span>
    <div class="container">
      <input type='button' class="btn btn-primary" id='addForm' value='Agregar Nuevo Comisionado'>
    </div>

    <div id="comisionadosolicitud-form" class="comisionadosolicitud-form">
      {%for form in comisionadosformset%}
        <div class="row">  

          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
      
          {{form.as_div}}

          <!-- Button trigger modal -->
          {% if perms.secretariador.delete_comisionadosolicitud %} 
            {% if form.instance.pk %}
            <div class="col-1">
                <img src='/static/images/trash3.svg' title='Eliminar' class="pt-2" style='width: 3em;height: 3em;' data-bs-toggle="modal" data-bs-target="#eliminarModal{% localize off %}{{form.instance.pk}}{% endlocalize %}" />
                  <!-- Modal -->
                  <div class="modal fade" id="eliminarModal{% localize off %}{{form.instance.pk}}{% endlocalize %}" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel{% localize off %}{{form.instance.pk}}{% endlocalize %}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="eliminarModalLabel{% localize off %}{{form.instance.pk}}{% endlocalize %}">Está seguro que desea eliminar este comisionado?</h5>
                          </div>
                          <div class="modal-footer">
                              <a href="{% url 'secretariador:delete-comisionado-solicitud' form.instance.pk %}" type="button" class="btn btn-primary">Si, Eliminar</a>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          </div>
                      </div>
                      </div>
                  </div>
            </div>
           {%else%}
           <div class="col-1"></div>
            {% endif %}
          {% endif %}

        </div>
      {%endfor%}
      {% for dict in formset.errors %}
        {% for error in dict.values %}
          {{ error }}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="container ml-2 pt-2">
      <input type='submit' value='Guardar' class="btn btn-primary" />
      <a href="{% url 'secretariador:lista-solicitudes' %}" type="button" class="btn btn-secondary">Volver</a>
    </div>
  </form>

</div>
<div id="empty_form" style="display:none">
  <div class="row">
    {{comisionadosformset.empty_form.as_div}}
  </div>
</div>

{{ form.media.js }}

<script>
  $('#addForm').click(function() {
  $(".customSelect2").select2("destroy");
	var form_idx = $('#id_comisionadosolicitud_set-TOTAL_FORMS').val();
	$('#comisionadosolicitud-form').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_comisionadosolicitud_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  $(".customSelect2").select2({
    theme: 'bootstrap-5',
  });
  $(".customSelect2").djangoSelect2()
});
</script>

<script>
$(function () {
    $.datetimepicker.setLocale('es');
    $("#id_solicitud_fecha_desde").datetimepicker({
    timepicker:false,
    format: 'd/m/Y',
    scrollMonth : false,
    scrollInput : false
    });
    $.datetimepicker.setLocale('es');
    $("#id_solicitud_fecha_hasta").datetimepicker({
    timepicker:false,
    format: 'd/m/Y',
    scrollMonth : false,
    scrollInput : false
    });
  });
</script>

{% endblock %}