{% extends "base.html" %}
{% block content %}
{% block title %}<title>{{title}}</title>{% endblock title %}

{{ form.media.css }}
<form id="mainForm" action="{% url "carga:crear-fojademedicion"%}?rubro={{ request.GET.rubro }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% include "partials/fojademedicion-form-partial.html" %}
  {% include "partials/fojademedicionfoto-form-partial.html" %}
  {% include "partials/fojademedicionitem-form-partial.html" %}
</form>
{{ form.media.js }}
{% endblock %}

{% block actions %}
  {% include "partials/form-actions.html" %}
{% endblock %}
