{% if object.poliza_set.all %}
<div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Pólizas</div>
    <div class="card-body p-2">
    <div class="table-responsive">
    <table id="tablaObraPolizas{{object.id}}" class="table table-sm table-bordered table-hover align-middle mb-0 data dataTables_wrapper">
        <thead class="table-light">
            <tr>
                <th class="small" scope="col">Poliza</th>
                <th class="small" scope="col">Expediente Poliza</th>
                <th class="small" scope="col">Obra</th>
                <th class="small" scope="col">Localidad</th>
                <th class="small" scope="col">Contratista</th>
                <th class="small" scope="col">Programa</th>
                <th class="small" scope="col">Convenio</th>
                <th class="small" scope="col">Expediente Obra</th>
                <th class="small" scope="col">Monto Pesos</th>
                <th class="small" scope="col">Monto UVI</th>
                <th class="small d-print-none" scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in object.poliza_set.all %}
                {% include "partials/polizas-body-partial.html"%}
            {% endfor %}
        </tbody>
        <tfoot class="table-light fw-semibold">
            <tr>
                <th class="small" scope="col"></th>
                <th class="small" scope="col"></th>
                <th class="small" scope="col"></th>
                <th class="small" scope="col"></th>
                <th class="small" scope="col"></th>
                <th class="small" scope="col"></th>
                <th class="small" scope="col"></th>
                <th class="small" scope="col">Totales</th>
                <th class="small" id="totalPesos{{object.id}}" scope="col"></th>
                <th class="small" id="totalUVI{{object.id}}" scope="col"></th>
                <th class="small d-print-none" scope="col"></th>
            </tr>
        </tfoot>
    </table>
    </div>
    </div>
</div>
{% endif %}

    <script>
        sumaColumnaPesos("tablaObraPolizas{{object.id}}", 8, "totalPesos{{object.id}}");
        sumaColumnaUvi("tablaObraPolizas{{object.id}}", 9, "totalUVI{{object.id}}");
    </script>