{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}<title>Lista Direcciones</title>{% endblock title%}

<div class="min-vh-100">
  <div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Direcciones</div>
    <div class="card-body p-2">
      <div class="table-responsive">
        <table id="tableDirecciones" width="auto" class="table table-striped table-bordered align-middle mb-0">
        </table>
      </div>
    </div>
  </div>
</div>

<script language="javascript">

  $(document).ready(function() {
      var columns = [
          { data: 'direccion_nombre', name: 'direccion_nombre', title: 'Dirección' },
          { data: 'direccion_gerencia', name: 'direccion_gerencia', title: 'Gerencia' },
          { data: 'direccion_cuof', name: 'direccion_cuof', title: 'CUOF' },
          { data: 'acciones', title: 'Acciones', orderable: false, searchable: false },
      ];

      NinjaDatatableUtils.initialize_table(
          $('#tableDirecciones'),
          '/v1/api/datatables/direcciones/',
          columns,
          {
              order: [[0, 'asc']],
              lengthMenu: [[50, 100, -1], [50, 100, 'all']],
              detailUrl: '/v1/api/datatables/direcciones/{id}/detalle/',
          },
      );
  });

</script>

{% endblock %}
