{% extends "base.html" %}

{% block content %}
{% block title %}<title>{{title}}</title>{% endblock title %}

{{ form.media.css }}
<form id="mainForm" action='{% url "secretariador:crear-montoviaticodiario" %}' method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% include "partials/montoviaticodiario-form-partial.html" %}
</form>
{{ form.media.js }}
{% endblock %}

{% block actions %}
  {% url 'secretariador:lista-decretos' as volver_target %}
  {% include "partials/form-actions.html" with volver_url=volver_target %}
{% endblock %}