{% extends "base.html" %}

{% block content %}
{% block title %}<title>{{title}}</title>{% endblock title %}

{{ form.media.css }}
<form action='{% url "secretariador:crear-memorandum" %}' method="POST" enctype="multipart/form-data"> 
  {% csrf_token %}

  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      {% include "partials/administrative-sidebar.html" %}
      {% include "partials/floating-generic-menu.html" %}
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      {% include "partials/memorandum-form-partial.html" %}
    </main>
    <div class="d-none d-xl-block col-xl-2 bd-toc">
    </div>
  </div>
</form>
{{ form.media.js }}
{% endblock %}