{% extends "base.html" %}

{% block content %}
{% block title %}<title>{{title}}</title>{% endblock title %}

{{ form.media.css }}

<div class="container">
  <form action='{% url "secretariador:crear-resolucion-presidencia" %}' method="POST" enctype="multipart/form-data"> 

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{form.as_div}}

    <input type='submit' value='Guardar' class="px-5 btn btn-primary" />
  </form>
</div>

{{ form.media.js }}
{% endblock %}