{% extends "base.html" %}

{% block content %}
{%block title%}<title>{{title}}</title>{%endblock title%}

<!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{{ form.media.css }}

<div class="container">
  <form action='{% url "secretariador:update-resolucion" object.id %}' method="POST" enctype="multipart/form-data"> 

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{form.as_div}}

    <input type='submit' value='Guardar' class="px-5 btn btn-primary" />
  </form>
</div>

{{ form.media.js }}
<script>
  $(function () {
      $.datetimepicker.setLocale('es');
      $("#id_instrumentolegalresoluciones_fecha_aprobacion").datetimepicker({
      timepicker:false,
      format: 'd/m/Y',
      scrollMonth : false,
      scrollInput : false
      });
    });
  </script>
{% endblock %}