{% extends "base.html" %}
{% block title %}<title>GDU - Planos de Mensura</title>{% endblock %}
{% block content %}
<div class="min-vh-100">
  <div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Planos de Mensura</div>
    <div class="card-body p-2">
      <div class="table-responsive">
        <table id="tablePlanosMensura" width="auto" class="table table-striped table-bordered align-middle mb-0"></table>
      </div>
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() {
      var columns = [
          { data: 'pm_antecedente', name: 'pm_antecedente', title: 'Plano' },
          { data: 'depto', name: 'depto', title: 'Depto.' },
          { data: 'nro', name: 'nro', title: 'Nro.' },
          { data: 'ano', name: 'ano', title: 'Año' },
          { data: 'en_gdu', name: 'en_gdu', title: 'En GDU' },
      ];

      NinjaDatatableUtils.initialize_table(
          $('#tablePlanosMensura'),
          '/v1/api/datatables/gdu-planos-mensura/',
          columns,
          {
              order: [[0, 'asc']],
              lengthMenu: [[50, 100, -1], [50, 100, 'all']],
              detailUrl: '/v1/api/datatables/gdu-planos-mensura/{id}/detalle/',
          },
      );
  });
</script>
{% endblock %}
