{% if perms.secretariador.view_solicitud %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" crossorigin="anonymous"></script>
  <!-- Bootstrap & Popper JS-->
  <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap5/css/bootstrap.min.css' %}">
  <script src="{% static 'Bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
  <!-- DataTables -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
  <script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.min.js' %}"></script>
  <!-- YADCF & Ellipsis -->
  <script type="text/javascript" charset="utf8" src="{% static 'DataTables/yadcf-ellipsis.js' %}"></script>
  <!-- Select2 plugin CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap5/css/select2-bootstrap-5-theme.css' %}">
	<!-- Select2 plugin JS -->
	<script src="{% static 'select2/select2.min.js' %}"></script>
  <!-- Moment.js -->
  <script src="{% static 'moment/moment.js' %}"></script>
  <script src="{% static 'moment/es.js' %}"></script>
  <script src="{% static 'moment/datetime.js' %}"></script>
  <!-- HTMX --> 
  <script src="{% static 'htmx/htmx.min.js' %}"></script>
  <!-- CSS Modifications -->
  <link href="{% static 'style.css' %}" rel="stylesheet">
  <!-- sumaColumna -->
  <script src="{% static 'js/sumacolumna.js' %}"></script>

  <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>

{% block title %}<title>Polizador V3.0</title>{% endblock title %}

</head>
{%comment%}Padding required to avoid navbar overlaping content{%endcomment%}
<body style="padding-top: 60px !important;">

{% include "navbar.html" %}

<div class="container-fluid content">
  {% block style %}   {%endblock%}
	{% block content %} {% endblock %}
</div>

</body>

<script>
  $('customSelect2').select2().on("select2-close", function () {
      setTimeout(function() {
          $('.select2-container-active').removeClass('select2-container-active');
          $(':focus').blur(); 
      }, 1);
  });
  $('.customSelect2').select2({
    theme: 'bootstrap-5'
  });

  // Focus en el campo de busqueda de Select2
  $(document).on("select2:open", e => {
    const select2 = $(e.target).data("select2");
    if (!select2.options.get("multiple")) {
      select2.dropdown.$search.get(0).focus();
    }
  });
</script>

</html>
{% elif perms.fallout.view_charfallout %}
{% include "fallout-base.html" %}
{% endif %}