{% extends "base.html" %}
{% load allauth %}
{% load static %}
{% block content %}

{% if "gciaoperativa_usuarios" not in groups and "dirgral_usuarios" not in groups %}
<div class="flex-grow-1 bg-white d-flex flex-column justify-content-center">
        <div class="flex-grow-0 flex-shrink-0 container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-4">
                    <div class="bg-white shadow rounded-4">
                        <div id="content" class="alert alert-xs alert-danger text-center p-5">
                            <h3>Su cuenta no posee permisos establecidos. Comuniquese con un Administrator</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if "inspeccion" in groups %}
    {% include "inspeccion-index.html" %}
{% endif %}
{% if "certificadores" in groups %}
    {% include "certificadores-index.html" %}
{% endif %}
{% endblock content %}
