{% extends "base.html" %}
{% load allauth %}
{% load static %}
{% block content %}

{% if not perms.carga.view_obra and not perms.secretariador.view_comisionadosolicitud and not perms.personalizador.add_agente %}
<div class="flex-grow-1 bg-body d-flex flex-column justify-content-center">
        <div class="flex-grow-0 flex-shrink-0 container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-4">
                    <div class="bg-body shadow rounded-4">
                        <div id="content" class="alert alert-xs alert-danger text-center p-5">
                            <h3>Su cuenta no posee permisos establecidos. Comuniquese con un Administrator</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if perms.carga.change_fojademedicion %}
    {% include "inspeccion-index.html" %}
{% endif %}
{% if perms.carga.add_certificado %}
    {% include "certificadores-index.html" %}
{% endif %}
{% endblock content %}
