{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}<title>Lista Certificados</title>{% endblock title%}

<div class="min-vh-100">
  <div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Certificados</div>
    <div class="card-body p-2">
      <div class="table-responsive">
        <table id="tableCertificados" width="auto" class="table table-striped table-bordered align-middle mb-0">
        </table>
      </div>
    </div>
  </div>
</div>


<script language="javascript">

  $(document).ready(function() {
      var columns = [
          { data: 'id', name: 'id', title: 'Id' },
          { data: 'certificado_obra', name: 'certificado_obra', title: 'Obra' },
          { data: 'certificado_empresa', name: 'certificado_empresa', title: 'Empresa' },
          { data: 'certificado_expediente', name: 'certificado_expediente', title: 'Expediente' },
          { data: 'certificado_fecha', name: 'certificado_fecha', title: 'Fecha', filterType: 'date' },
          {
              data: 'certificado_financiamiento', name: 'certificado_financiamiento', title: 'Financ.',
              filterType: 'select', filterChoices: [['N', 'Nación'], ['P', 'Provincia'], ['T', 'Terceros']],
          },
          {
              data: 'certificado_rubro_db', name: 'certificado_rubro_db', title: 'Rubro',
              filterType: 'select', filterChoicesUrl: '/v1/api/datatables/certificados/filtro-rubro/',
          },
          { data: 'certificado_rubro_anticipo', title: 'Ant.', orderable: false, searchable: false },
          { data: 'certificado_rubro_obra', title: 'Rubro Obra N°', orderable: false, searchable: false },
          { data: 'certificado_rubro_devanticipo', title: 'D.Ant.', orderable: false, searchable: false },
          { data: 'certificado_monto_cobrar', title: 'Monto $', orderable: false, searchable: false },
          { data: 'certificado_monto_cobrar_uvi', title: 'Monto Uvi', orderable: false, searchable: false },
          { data: 'certificado_mes_pct', title: 'Mes %', orderable: false, searchable: false },
          { data: 'acciones', title: 'Acciones', orderable: false, searchable: false },
      ];

      NinjaDatatableUtils.initialize_table(
          $('#tableCertificados'),
          '/v1/api/datatables/certificados/',
          columns,
          {
              order: [[0, 'desc']],
              lengthMenu: [[50, 100, -1], [50, 100, 'all']],
              detailUrl: '/v1/api/datatables/certificados/{id}/detalle/',
          },
      );
  });

</script>

{% endblock %}