{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}<title>Lista Representantes Técnicos</title>{% endblock title%}

<div class="min-vh-100">
  <div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Representantes Técnicos</div>
    <div class="card-body p-2">
      <div class="table-responsive">
        <table id="tableRepresentantesTecnicos" width="auto" class="table table-striped table-bordered align-middle mb-0">
        </table>
      </div>
    </div>
  </div>
</div>


<script language="javascript">

  $(document).ready(function() {
      var columns = [
          { data: 'id', name: 'id', title: 'Id' },
          { data: 'representantetecnico_nombre', name: 'representantetecnico_nombre', title: 'Nombre' },
          { data: 'representantetecnico_apellido', name: 'representantetecnico_apellido', title: 'Apellido' },
          { data: 'representantetecnico_dni', name: 'representantetecnico_dni', title: 'DNI' },
          { data: 'representantetecnico_cuil', name: 'representantetecnico_cuil', title: 'CUIT' },
          { data: 'representantetecnico_profesion', name: 'representantetecnico_profesion', title: 'Profesión' },
          { data: 'representantetecnico_matricula', name: 'representantetecnico_matricula', title: 'Matrícula' },
          { data: 'acciones', title: 'Acciones', orderable: false, searchable: false },
      ];

      NinjaDatatableUtils.initialize_table(
          $('#tableRepresentantesTecnicos'),
          '/v1/api/datatables/representantes-tecnicos/',
          columns,
          {
              order: [[0, 'asc']],
              lengthMenu: [[50, 100, -1], [50, 100, 'all']],
              detailUrl: '/v1/api/datatables/representantes-tecnicos/{id}/detalle/',
          },
      );
  });

</script>

{% endblock %}
