{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}<title>Lista Obras</title>{% endblock title%}

<div class="min-vh-100">
  <div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Obras</div>
    <div class="card-body p-2">
      <div class="table-responsive">
        <table id="tableObras" width="auto" class="table table-striped table-bordered align-middle mb-0">
        </table>
      </div>
    </div>
  </div>
</div>

<script language="javascript">

  $(document).ready(function() {
      var columns = [
          { data: 'id', name: 'id', title: 'Id' },
          { data: 'obra_programa', name: 'obra_programa', title: 'Programa' },
          { data: 'obra_convenio', name: 'obra_convenio', title: 'Convenio' },
          { data: 'obra_nombre', name: 'obra_nombre', title: 'Obra' },
          { data: 'obra_empresa', name: 'obra_empresa', title: 'Empresa' },
          { data: 'obra_localidad', title: 'Localidad', orderable: false },
          { data: 'obra_acumulado', title: 'Avance Acumulado', orderable: false, searchable: false },
          { data: 'obra_anticipo_acumulado', title: 'Avance Anticipo', orderable: false, searchable: false },
          { data: 'acciones', title: 'Acciones', orderable: false, searchable: false },
      ];

      NinjaDatatableUtils.initialize_table(
          $('#tableObras'),
          '/v1/api/datatables/obras/',
          columns,
          {
              order: [[0, 'desc']],
              lengthMenu: [[50, 100, -1], [50, 100, 'all']],
              detailUrl: '/v1/api/datatables/obras/{id}/detalle/',
          },
      );
  });

</script>

{% endblock %}