{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}<title>Lista Departamentos</title>{% endblock title%}

<div class="min-vh-100">
  <div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Departamentos</div>
    <div class="card-body p-2">
      <div class="table-responsive">
        <table id="tableDepartamentos" width="auto" class="table table-striped table-bordered align-middle mb-0">
        </table>
      </div>
    </div>
  </div>
</div>


<script language="javascript">

  $(document).ready(function() {
      var columns = [
          { data: 'id', name: 'id', title: 'Id' },
          { data: 'departamento_nombre', name: 'departamento_nombre', title: 'Departamento' },
          { data: 'acciones', title: 'Acciones', orderable: false, searchable: false },
      ];

      NinjaDatatableUtils.initialize_table(
          $('#tableDepartamentos'),
          '/v1/api/datatables/departamentos-carga/',
          columns,
          {
              order: [[0, 'asc']],
              lengthMenu: [[50, 100, -1], [50, 100, 'all']],
              detailUrl: '/v1/api/datatables/departamentos-carga/{id}/detalle/',
          },
      );
  });

</script>

{% endblock %}