{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}<title>Lista Pólizas</title>{% endblock title%}

<div class="min-vh-100">
  <div class="card">
    <div class="card-header py-2 bg-light fw-semibold small">Pólizas</div>
    <div class="card-body p-2">
      <div class="table-responsive">
        <table id="tablePolizas" width="auto" class="table table-striped table-bordered align-middle mb-0">
        </table>
      </div>
    </div>
  </div>
</div>


<script language="javascript">

  $(document).ready(function() {
      var columns = [
          { data: 'id', name: 'id', title: 'Id', searchable: false },
          { data: 'poliza_fecha', name: 'poliza_fecha', title: 'Fecha', filterType: 'date' },
          { data: 'poliza_expediente', name: 'poliza_expediente', title: 'Expediente' },
          { data: 'poliza_numero', name: 'poliza_numero', title: 'Número' },
          { data: 'poliza_concepto', name: 'poliza_concepto', title: 'Concepto' },
          { data: 'poliza_recibo', name: 'poliza_recibo', title: 'Recibo' },
          { data: 'poliza_aseguradora', name: 'poliza_aseguradora', title: 'Aseguradora' },
          { data: 'poliza_tomador', name: 'poliza_tomador', title: 'Tomador' },
          { data: 'poliza_obra', name: 'poliza_obra', title: 'Obra' },
          { data: 'poliza_editor', title: '', orderable: false, searchable: false },
          { data: 'acciones', title: 'Acciones', orderable: false, searchable: false },
      ];

      NinjaDatatableUtils.initialize_table(
          $('#tablePolizas'),
          '/v1/api/datatables/polizas/',
          columns,
          {
              order: [[0, 'desc']],
              lengthMenu: [[50, 100, -1], [50, 100, 'all']],
              detailUrl: '/v1/api/datatables/polizas/{id}/detalle/',
          },
      );
  });

</script>

{% endblock %}