{% load static %}
<!-- Barra de naufragación -->
<nav class="navbar navbar-expand fixed-top navbar-light d-print-none" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnavbar">
		  <span class="navbar-toggler-icon"></span>
		</button>
<div class="collapse navbar-collapse justify-content-md-center" id="mainnavbar">
	{%comment%}  
		<div class="nav pull-left p-2">
			<a href="{% url "home" %}">
				<img src='{% static "images/house-add.svg" %}' title='Home' width='30' heigth='30' />
			</a>
		</div>
	{%endcomment%}
<ul class="navbar-nav">

<!-- Obra Menu -->
<li class="nav-item dropdown position-static">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Obras
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Crear:</u></strong></li>
							<small>
							{% if perms.carga.add_obra %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-obra" %}' class="dropdown-item">Nueva Obra</a></li>{% endif %}
							{% if perms.carga.add_empresa %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-empresa" %}' class="dropdown-item">Nueva Empresa</a></li>{% endif %}
							{% if perms.carga.add_certificado %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-certificado" %}' class="dropdown-item">Nuevo Certificado</a></li>{% endif %}
							{% if perms.carga.add_programa %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-programa" %}' class="dropdown-item">Nuevo Programa</a></li>{% endif %}
							{% if perms.carga.add_conjuntolicitado %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-conjunto" %}' class="dropdown-item">Nuevo Conjunto Licitado</a></li>{% endif %}
							{% if perms.carga.add_agente %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-agente" %}' class="dropdown-item">Nuevo Inspector<br>(Programado para ser obsoleto)</a></li>{% endif %}
							{% if perms.carga.add_contrato %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-contrato" %}' class="dropdown-item">Nuevo Contrato de Obra</a></li>{% endif %}
							{% if perms.carga.add_contratosdigitales %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-contrato-digital" %}' class="dropdown-item">Nuevo Documento(Contrato)</a></li>{% endif %}
							{% if perms.carga.add_resolucionesdigitales %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-resolucion-digital" %}' class="dropdown-item">Nuevo Documento(Resolución)</a></li>{% endif %}
							</small>
						</ul>
					</div>
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Listados:</u></strong></li>
							<small>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-obras" %}' class="dropdown-item">Obras</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-empresas" %}' class="dropdown-item">Empresas</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-certificados" %}' class="dropdown-item">Certificados</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-programas" %}' class="dropdown-item">Programas</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-conjuntos" %}' class="dropdown-item">Conjuntos Licitados</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-agentes" %}' class="dropdown-item">Inspectores<br>(Programado para ser obsoleto)</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-lista-uvi" %}' class="dropdown-item">Cotización UVI</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-obras-extendida" %}' class="dropdown-item">Obras(Extendida)</a></li>
							</small>
						</ul>
					</div>
				</div>
		</div>
	</div>
</li>
<!-- Obra Menu Ends -->
<!-- Polizas Menu -->
<li class="nav-item dropdown position-static">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Pólizas
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Crear:</u></strong></li>
							<small>
							{% if perms.carga.add_poliza %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-poliza" %}' class="dropdown-item">Nueva Póliza(Obra)</a></li>{% endif %}
							{% if perms.carga.add_receptor %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-receptor" %}' class="dropdown-item">Nuevo Receptor<br>(Programado para ser obsoleto)</a></li>{% endif %}
							{% if perms.carga.add_area %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-area" %}' class="dropdown-item">Nueva Área<br>(Programado para ser obsoleto)</a></li>{% endif %}
							{% if perms.carga.add_aseguradora %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-aseguradora" %}' class="dropdown-item">Nueva Aseguradora</a></li>{% endif %}
							</small>
						</ul>
					</div>
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Listados:</u></strong></li>
							<small>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-polizas" %}' class="dropdown-item">Pólizas</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-aseguradoras" %}' class="dropdown-item">Aseguradoras</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-legacy-polizas" %}' class="dropdown-item">Pólizas<br>(Importado desde Excel)</a></li>
							</small>
						</ul>
					</div>
				</div>
		</div>
	</div>
</li>
<!-- Polizas Menu Ends -->
<!-- Localidades Menu -->
<li class="nav-item dropdown position-static">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Localidades
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Crear:</u></strong></li>
							<small>
							{% if perms.carga.add_region %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-region" %}' class="dropdown-item">Nueva Región</a></li>{% endif %}
							{% if perms.carga.add_departamento %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-departamento" %}' class="dropdown-item">Nuevo Departamento</a></li>{% endif %}
							{% if perms.carga.add_municipio %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-municipio" %}' class="dropdown-item">Nuevo Municipio</a></li>{% endif %}
							{% if perms.carga.add_localidad %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-localidad" %}' class="dropdown-item">Nueva Localidad</a></li>{% endif %}
							</small>
						</ul>
					</div>
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Listados:</u></strong></li>
							<small>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-regiones" %}' class="dropdown-item">Regiones</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-departamentos" %}' class="dropdown-item">Departamentos</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-municipios" %}' class="dropdown-item">Municipios</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-localidades" %}' class="dropdown-item">Localidades</a></li>
							</small>
						</ul>
					</div>
				</div>
		</div>
	</div>
</li>
<!-- Localidades Menu Ends -->
<!-- Viáticos Menu -->
<li class="nav-item dropdown position-static">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Viáticos
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Crear:</u></strong></li>
							<small>
							{% if perms.secretariador.add_solicitud %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:redirect-solicitud" %}' class="dropdown-item">Nueva Solicitud</a></li>{% endif %}
							{% if perms.secretariador.add_incorporacion %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:crear-incorporacion" %}' class="dropdown-item">Nueva Incorporación</a></li>{% endif %}
							{% if perms.secretariador.add_comisionado %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:crear-comisionado" %}' class="dropdown-item">Nuevo Agente</a></li>{% endif %}
							{% if perms.secretariador.add_vehiculo %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:crear-vehiculo" %}' class="dropdown-item">Nuevo Vehículo</a></li>{% endif %}
							{% if perms.secretariador.add_instrumentoslegalesmemorandum %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:crear-memorandum" %}' class="dropdown-item">Nuevo Memorandum</a></li>{% endif %}
							{% if perms.secretariador.add_instrumentoslegalesdecretos %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:redirect-decreto" %}' class="dropdown-item">Nuevo Decreto</a></li>{% endif %}
							{% if perms.secretariador.add_instrumentoslegalesresoluciones %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:crear-resolucion" %}' class="dropdown-item">Nueva Resolución</a></li>{% endif %}
							{% if perms.secretariador.add_montoviaticodiario %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:crear-montoviaticodiario" %}' class="dropdown-item">Nuevo Monto de Viáticos</a></li>{% endif %}
							</small>
						</ul>
					</div>
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Listados:</u></strong></li>
							<small>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:lista-solicitudes" %}' class="dropdown-item">Solicitudes</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:lista-incorporaciones" %}' class="dropdown-item">Incorporaciones</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:lista-comisionados" %}' class="dropdown-item">Agentes</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:lista-vehiculos" %}' class="dropdown-item">Vehículos</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:lista-memorandum" %}' class="dropdown-item">Memorandum</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:lista-decretos" %}' class="dropdown-item">Decretos</a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "secretariador:lista-resoluciones" %}' class="dropdown-item">Resoluciones</a></li>
							</small>
						</ul>
					</div>
				</div>
		</div>
	</div>
</li>
<!-- Viáticos Menu Ends -->

<!-- Reportes Menu -->
<li class="nav-item dropdown position-static">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Reportes
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
			<div class="row">

				<div class="col">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<strong class="card-title">Obras</strong>
						<p class="card-subtitle mb-2 text-muted"><small>Crear reporte de obras según filtros.</small></p>
						<a href="{% url 'carga:crear-reporte' %}" class="btn btn-primary btn-sm"><small>Ir</small></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<strong class="card-title">Certificados</strong>
						<p class="card-subtitle mb-2 text-muted"><small>Crear reporte de Certificados por fecha.</small></p>
						<a href="{% url 'carga:crear-reporte-certificado' %}" class="btn btn-primary btn-sm"><small>Ir</small></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<strong class="card-title">Viáticos por Agente</strong>
						<p class="card-subtitle mb-2 text-muted"><small>Crear reporte de viáticos por agente.</small></p>
						<a href="{% url 'secretariador:crear-reporte-viaticos-por-agente' %}" class="btn btn-primary btn-sm"><small>Ir</small></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<strong class="card-title">Viáticos por Área</strong>
						<p class="card-subtitle mb-2 text-muted"><small>Crear reporte de viáticos por área.</small></p>
						<a href="{% url 'secretariador:crear-reporte-viaticos-por-area' %}" class="btn btn-primary btn-sm"><small>Ir</small></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<strong class="card-title">Ausencias</strong>
						<p class="card-subtitle mb-2 text-muted"><small>Crear reporte de ausencias por agentes en comisión.</small></p>
						<a href="{% url 'secretariador:crear-reporte-ausencias-por-agente' %}" class="btn btn-primary btn-sm"><small>Ir</small></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<strong class="card-title">Comisiones duplicadas</strong>
						<p class="card-subtitle mb-2 text-muted"><small>Crear reporte de comisiones que solapan fechas y localidades.</small></p>
						<a href="{% url 'secretariador:crear-reporte-duplicados' %}" class="btn btn-primary btn-sm"><small>Ir</small></a>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</li>
<!-- Reportes Menu Ends -->

{%comment%}
<!-- Template Menu -->
<li class="nav-item dropdown position-static">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Menu Template
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Crear:</u></strong></li>
							<small>
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nueva</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nueva</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							</small>
						</ul>
					</div>
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Listados:</u></strong></li>
							<small>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							</small>
						</ul>
					</div>
				</div>
		</div>
	</div>
</li>
<!-- Template Menu Ends -->
{%endcomment%}
<!-- Login/Logout -->
{% if request.user.is_authenticated %}
<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> {%if request.user.first_name or request.user.last_name %} {{ request.user.first_name }} {{request.user.last_name }} {%else%} {{ request.user.username }} {%endif%}</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="{% url "password_change" %}">Cambiar contraseña</a></li>
		<li>
			<form action="{% url 'logout' %}" method="post">
				{% csrf_token %}
				<button class="dropdown-item py-0 pr-0" type="submit">Salir</button>
			</form>
		</li>
		{% endif %}
	</ul>
</li>
<!-- Django 5.0 requiere que el pedido de logout se envíe a través de un POST request -->

<!-- Login/Logout Ends -->

</ul>
</div>
</nav>