<ldap>
  <id>__LDAP_PROVIDER_NAME__-auth</id>
  <name>__LDAP_PROVIDER_NAME__</name>
  <className>org.geoserver.security.ldap.LDAPAuthenticationProvider</className>
  <serverURL>__LDAP_SERVER_URL__</serverURL>
  <userFilter>__LDAP_USER_FILTER__</userFilter>
  <userNameAttribute>__LDAP_USER_NAME_ATTRIBUTE__</userNameAttribute>
  <user>__LDAP_BIND_DN__</user>
  <password>plain:__LDAP_BIND_PASSWORD__</password>
  <useTLS>false</useTLS>
  <bindBeforeGroupSearch>false</bindBeforeGroupSearch>
</ldap>
