{% extends "base.html" %}

{% block content %}

<!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{{ form.media.css }}

<div class="container">
<form action="{% url "carga:legacy-update-poliza" object.id %}" method="POST"> 

{% csrf_token %}
{{ form.errors }}

{% for field in form %}
    <div class="row mx-md-n5"> {{field.label}} {{field}} </div>
{% endfor %}
    <input type='submit' value='Guardar' />
</form>
<!--
<div class="row mx-md-n5"> {{form.poliza_fecha.label}} {{ form.poliza_fecha }} </div>
<div class="row mx-md-n5"> {{form.poliza_expediente.label}} {{ form.poliza_expediente }} </div>
<div class="row mx-md-n5"> {{form.poliza_receptor.label}} {{ form.poliza_receptor }} </div>
<div class="row mx-md-n5"> {{form.poliza_area.label}} {{ form.poliza_area }} </div>
<div class="row mx-md-n5"> {{form.poliza_numero.label}} {{ form.poliza_numero }} </div>
<div class="row mx-md-n5"> {{form.poliza_concepto.label}} {{ form.poliza_concepto }} </div>
<div class="row mx-md-n5"> {{form.poliza_anexo.label}} {{ form.poliza_anexo }} </div>
<div class="row mx-md-n5"> {{form.poliza_recibo.label}} {{ form.poliza_recibo }} </div>
<div class="row mx-md-n5"> {{form.poliza_aseguradora.label}} {{ form.poliza_aseguradora }} </div>
<div class="row mx-md-n5"> {{form.poliza_tomador.label}} {{ form.poliza_tomador }} </div>
<div class="row mx-md-n5"> {{form.poliza_obra_nombre.label}} {{ form.poliza_obra_nombre }} </div>
<div class="row mx-md-n5"> {{form.poliza_obra_convenio.label}} {{ form.poliza_obra_convenio }} </div>
<div class="row mx-md-n5"> {{form.poliza_obra_expediente.label}} {{ form.poliza_obra_expediente }} </div>
<div class="row mx-md-n5"> {{form.poliza_monto_pesos.label}} {{ form.poliza_monto_pesos }} </div>
<div class="row mx-md-n5"> {{form.poliza_monto_uvi.label}} {{ form.poliza_monto_uvi }} </div>
-->
</div>

{{ form.media.js }}

<script>
$(function () {
    $.datetimepicker.setLocale('es');
    $("#id_poliza_fecha").datetimepicker({
    timepicker:false,
    format: 'd/m/Y',
    });
  });

</script>



{% endblock %}