{% extends "base.html" %}
{% block content %}
{%block title%}<title>{{object.poliza_movimiento_numero.poliza_tomador}} - {{object.poliza_movimiento_numero.poliza_numero}}({{object.poliza_movimiento_numero.poliza_aseguradora}})</title>{%endblock title%}

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{{ form.media.css }}

<div class="container">
    <form action="{% url "carga:update-poliza-movimiento" object.id %}" method="POST">

        {% include "partials/form-partial.html" %}
        <input type='submit' value='Guardar' class="btn" />
    </form>
</div>

{{ form.media.js }}

<script>
    $(function () {
        $.datetimepicker.setLocale('es');
        $("#id_poliza_fecha").datetimepicker({
        timepicker:false,
        format: 'd/m/Y',
        });
      });
    </script>

{% endblock %}
