{% extends "base.html" %}
{% block content %}

<div id="content-main">

<form method="post">{% csrf_token %}
<div>

<p class="alert alert-danger">Por seguridad, ingrese su contraseña anterior, y luego, su nueva contraseña dos veces, para poder verificar que la haya escrito de manera correcta.</p>

{% for field in form %}
<div class="form-control">
    {{field.label_tag}}
    
    {{field}}
    
    {% if field.help_text %}
    <small class="form-text text-muted">{{field.help_text}}</small>
    {% endif %}

    {% if field.errors %}
    <p class="text-danger">{{field.errors}}</p>
    {% endif %}
</div>
{% endfor %}

<br>
    <input type="submit" value="Cambiar contraseña" class="btn btn-primary">

</div>
</form></div>

{% endblock %}
