{% extends "base.html" %}
{% block content %}

{% load  widget_tweaks%}

<div id="content-main">

<form method="post">{% csrf_token %}
<div>
    {% if form.errors %}
	<div class="alert alert-danger">
		{% for field, label in form.errors.items %}
			<p>{{ label }}</p>
		{% endfor %}
	</div>
	{% endif %}


<p>Por seguridad, ingrese su contraseña anterior, y luego, su nueva contraseña dos veces, para poder verificar que la haya escrito de manera correcta.</p>

<fieldset class="module aligned wide">
    <div class="form-floating">
        {% render_field form.old_password|append_attr:"class:form-control" rows="3" placeholder=form.old_password.label %}
        <label for="{{form.old_password.auto_id}}">{{form.old_password.label}}</label>
    </div>
    <div class="form-floating">
        {% render_field form.new_password1|append_attr:"class:form-control" rows="3" placeholder=form.new_password1.label %}
        <label for="{{form.new_password1.auto_id}}">{{form.new_password1.label}}</label>
    </div>
    <div class="form-floating">
        {% render_field form.new_password2|append_attr:"class:form-control" rows="3" placeholder=form.new_password2.label %}
        <label for="{{form.new_password2.auto_id}}">{{form.new_password2.label}}</label>
    </div>
</fieldset>

<div class="submit-row">
    <input type="submit" value="Cambiar contraseña" class="btn">
</div>

</div>
</form></div>

{% endblock %}
