{% extends "base.html"%}

{% block content %}
{% load static%}
{% load l10n %}
{%block title%}<title>Crear Reporte Certificados</title>{%endblock title%}

<div div class="min-vh-100 min-vw-100 p-5">
<form action="{% url "carga:ver-reporte-certificado" %}" method="get">
  <!-- Select Fecha-->
  <h3 class="text-center">Seleccione el mes y año para el reporte</h3>
  <p class="text-center">Puede seleccionar más de un mes</p>
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectMes">Mes</label>
    </div>
    <select name="mes" class="form-control" id="inputGroupSelectMes" multiple>
      <option value="1">Enero</option>
      <option value="2">Febrero</option>
      <option value="3">Marzo</option>
      <option value="4">Abril</option>
      <option value="5">Mayo</option>
      <option value="6">Junio</option>
      <option value="7">Julio</option>
      <option value="8">Agosto</option>
      <option value="9">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
    </select>
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectAno">Año</label>
    </div>
      <select name="ano" class="form-control" id="inputGroupSelectAno">
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026" selected>2026</option>
      </select>
  </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="buscarPorFechaIngreso" type="checkbox" role="switch" id="switchFechaIngresoalSistema">
        <label class="form-check-label" for="switchFechaIngresoalSistema">Buscar por fecha de ingreso al sistema</label>
      </div>
  <div class="container ml-2 pt-2">
    <input type='submit' value='Buscar' class="btn btn-primary" />
  </div>
  </form>
</div>


{%endblock content%}