{% extends "base.html"%}

{% block content %}
{% load static%}
{% load l10n %}
{%block title%}<title>Crear Reporte</title>{%endblock title%}

<form action="{% url "carga:ver-reporte" %}" method="get">
    <!-- Select Localidad -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelectLocalidad">Localidad</label>
        </div>
        <select name="localidad" class="custom-select customSelect2" id="inputGroupSelectLocalidad" multiple>
          {% for localidad in localidades %}
          <option value="{{localidad.id|unlocalize}}">{{localidad.localidad_nombre}}</option>
          {%endfor%}
        </select>
    </div>
    <!-- Select Empresa -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelectEmpresa">Empresa</label>
        </div>
        <select name="empresa" class="custom-select customSelect2" id="inputGroupSelectEmpresa" multiple>
          {% for empresa in empresas %}
          <option value="{{empresa.id|unlocalize}}">{{empresa.empresa_nombre}}</option>
          {%endfor%}
        </select>
    </div>
    <!-- Select Programa-->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelectPrograma">Programa</label>
        </div>
        <select name="programa" class="custom-select customSelect2" id="inputGroupSelectPrograma" multiple>
          {% for programa in programas %}
          <option value="{{programa.id|unlocalize}}">{{programa.programa_nombre}}</option>
          {%endfor%}
        </select>
    </div>
    <!-- Select Rubro-->
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectRubro">Rubro</label>
        </div>
        <select name="rubro" class="custom-select customSelect2" id="inputGroupSelectRubro" multiple>
            <option value="1" selected>Vivienda</option>
            <option value="2">Infraestructura Frentista</option>
            <option value="3">Terreno</option>
            <option value="4">Redeterminación</option>
            <option value="5">Nexos y Redes</option>
            <option value="8">Reconocimiento de Trabajos</option>
            <option value="9">Ampliación de Contrato</option>
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupFinanciamiento">Financiamiento</label>
        </div>
            <select name="financiamiento" class="custom-select customSelect2" id="inputGroupFinanciamiento">
                <option value="1" selected>Nación</option>
                <option value="2">Provincia</option>
                <option value="3">Otros</option>
            </select>
        </div>
    </div>
    <!-- Filtro Porcentual -->
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">% Avance</span>
        </div>
        <select name="tipodefiltro" class="custom-select customSelect2" id="inputGroupTipodeFiltro">
            <option value="1">Igual a</option>
            <option value="2">Menor a</option>
            <option value="3" selected>Mayor a</option>
        </select>
        <input type="text" class="form-control" name="pctavance" placeholder="Porcentaje" default=0>
      </div>
      <div class="container ml-2 pt-2">
        <input type='submit' value='Buscar' class="btn btn-primary" />
      </div>
      </form>



{%endblock content%}