{% extends "base.html" %}

{% block content %}
{% block title %}<title>{{title}}</title>{% endblock title %}

{{ form.media.css }}

<div class="container">
  <form action='{% url "secretariador:crear-solicitud-exterior" %}' method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{form.as_div}}
    {{comisionadosformset.management_form}}
    <span class="fs-4 p-0">Comisionados</span>

    <div id="comisionadosolicitud-form" class="comisionadosolicitud-form">
      {% for form in comisionadosformset %}
        <div class="row pb-1 border border-secondary rounded" id="comisionadosolicitud-form-{{form.prefix}}">  
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {{form.as_div}}
          <div class="col-1">
            <img src='/static/images/trash3.svg' title='Eliminar' class="pt-2" style='width: 3em;height: 3em;' onclick="eliminarComisionado('comisionadosolicitud_set-0')"/>
          </div>
        </div>
      {% endfor %}
      {% for dict in formset.errors %}
        {% for error in dict.values %}
          {{ error }}
        {% endfor %}
      {% endfor %}

    </div>
    
    <!--Floating menu-->
    <div class="container border rounded border-dark floating-menu">
      <input type='submit' value='Guardar' class="mx-auto my-1 btn btn-primary btn-lg btn-block w-100" />
      <a href="{% url 'secretariador:lista-solicitudes' %}" type="button" class="mx-auto my-1 btn btn-secondary btn-lg btn-block w-100">Volver</a>
      <input type='button' class="mx-auto my-1 btn btn-success btn-sm btn-block btn-outline btn-wrap-text w-100" id='addForm' value='Agregar
      Nuevo
      Comisionado'>
    </div>
    <!--End of floating menu-->
  </form>
</div>
<div id="empty_form" style="display:none">
  <div class="row pb-1 border border-secondary rounded" id="comisionadosolicitud-form-comisionadosolicitud_set-__prefix__">
    {{comisionadosformset.empty_form.as_div}}
    <!-- Eliminar fila -->
      <div class="col-1">
          <img src='/static/images/trash3.svg' title='Eliminar' class="pt-2" style='width: 3em;height: 3em;' onclick="eliminarComisionado('comisionadosolicitud_set-__prefix__')"/>
      </div>
  </div>
</div>

{{ form.media.js }}

<script>
$('#addForm').click(function() {
$(".customSelect2").select2("destroy");
	var form_idx = $('#id_comisionadosolicitud_set-TOTAL_FORMS').val();
$('#comisionadosolicitud-form').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
$('#id_comisionadosolicitud_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
$(".customSelect2").select2({
    theme: 'bootstrap-5',
  });
$('html, body').animate({
            scrollTop: $('html, body').height()
        }, 'slow');
$(".customSelect2").djangoSelect2()
  });

function eliminarComisionado(prefix) {
  var namex = document.getElementsByName(`${prefix}-comisionadosolicitud_nombre`)
  $(namex).val("").trigger("change")
}
</script>
{% endblock %}