{% if field.use_fieldset %}
  <fieldset{% if field.aria_describedby %} aria-describedby="{{ field.aria_describedby }}"{% endif %}>
  {% if field.label %}{{ field.legend_tag }}{% endif %}
  {{ field.errors }}
  {{ field }}
{% elif field.widget_type == "checkbox" %}
  {{ field.errors }}
  <div class="form-check field-group-check">
    {{ field }}
    {% if field.label %}<label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
  </div>
{% else %}
  {% if field.label %}{{ field.label_tag }}<br>{% endif %}
  {{ field.errors }}
  {{ field }}
{% endif %}
{% if field.help_text %}<p class="form-text text-muted helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</p>{% endif %}
{% if field.use_fieldset %}</fieldset>{% endif %}
