{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}

<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Identificador</legend>
    <div class="form-group">
        {{form.instrumentolegalmemorandum_tipo.as_field_group}}
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.instrumentolegalmemorandum_numero.as_field_group}}
        </div>
        <div class="col-md-6">
            {{form.instrumentolegalmemorandum_ano.as_field_group}}
        </div>
    </div>
    <div class="form-group">
        {{form.instrumentolegalmemorandum_fecha_aprobacion.as_field_group}}
    </div>
</fieldset>

<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Sumario</legend>
    <div class="form-group">
        {{form.instrumentolegalmemorandum_descripcion.as_field_group}}
    </div>
</fieldset>

<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Instrumentos legales</legend>
    <div class="form-group">
        {{form.instrumentolegalmemorandum.as_field_group}}
    </div>
</fieldset>

