{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}
<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">Identificador</div>
    <div class="card-body p-2">
    <div class="form-group">
        {{form.instrumentolegalresoluciones_tipo.as_field_group}}
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.instrumentolegalresoluciones_numero.as_field_group}}
        </div>
        <div class="col-md-6">
            {{form.instrumentolegalresoluciones_ano.as_field_group}}
        </div>
    </div>
    <div class="form-group">
        {{form.instrumentolegalresoluciones_fecha_aprobacion.as_field_group}}
    </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">Sumario</div>
    <div class="card-body p-2">
    <div class="form-group">
        {{form.instrumentolegalresoluciones_descripcion.as_field_group}}
    </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">Instrumentos legales</div>
    <div class="card-body p-2">
    <div class="form-group">
        {{form.instrumentolegalresoluciones.as_field_group}}
    </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">OCR</div>
    <div class="card-body p-2">
    <div class="form-group">
        {{form.instrumentolegalresoluciones_document.as_field_group}}
    </div>
    </div>
</div>

