{% load static %}
<!-- Barra de naufragación -->
<nav class="navbar navbar-expand fixed-top navbar-light d-print-none" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnavbar">
		  <span class="navbar-toggler-icon"></span>
		</button>
<div class="collapse navbar-collapse justify-content-md-center" id="mainnavbar">
	{%comment%}  
		<div class="nav pull-left p-2">
			<a href="{% url "home" %}">
				<img src='{% static "images/house-add.svg" %}' title='Home' width='30' heigth='30' />
			</a>
		</div>
	{%endcomment%}
<ul class="navbar-nav">

<!-- Obra Menu -->
<li class="nav-item dropdown position-static">
	<a class="fallout-font nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Mis PJs
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Crear:</u></strong></li>
							<small>
							<li class="fallout-font dropdown-item list-group-item py-0 pr-0"><a href='{% url "fallout:planilla-fallout-create" %}' class="dropdown-item">Nuevo PJ</a></li>
							</small>
						</ul>
					</div>
					<div class="col">
						<ul class="list-group">
							<li class="fallout-font list-group-item bg-light"><strong><u>Listados:</u></strong></li>
							<small>
							
							<li class="fallout-font dropdown-item list-group-item py-0 pr-0"><a href='{% url "fallout:planilla-fallout-list" %}' class="dropdown-item">Listado PJs</a></li>
							
							</small>
						</ul>
					</div>
				</div>
		</div>
	</div>
</li>
<!-- Obra Menu Ends -->
{%comment%}
<!-- Template Menu -->
<li class="nav-item dropdown position-static">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Menu Template
	</a>
	<div class="dropdown-menu vw-100 start-50 translate-middle-x" aria-labelledby="megaMenuDropdown">
		<div class="container">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Crear:</u></strong></li>
							<small>
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nueva</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nueva</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							{% if perms.carga %}<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "" %}' class="dropdown-item">Nuevo</a></li>{% endif %}
							</small>
						</ul>
					</div>
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item bg-light"><strong><u>Listados:</u></strong></li>
							<small>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:crear-" %}' class="dropdown-item"></a></li>
							<li class="dropdown-item list-group-item py-0 pr-0"><a href='{% url "carga:lista-" %}' class="dropdown-item"></a></li>
							</small>
						</ul>
					</div>
				</div>
		</div>
	</div>
</li>
<!-- Template Menu Ends -->
{%endcomment%}
<!-- Login/Logout -->
{% if request.user.is_authenticated %}
<li class="nav-item dropdown">
		<a class="fallout-font nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> {%if request.user.first_name or request.user.last_name %} {{ request.user.first_name }} {{request.user.last_name }} {%else%} {{ request.user.username }} {%endif%}</a>
	<ul class="dropdown-menu">
		<li><a class="fallout-font dropdown-item" href="{% url "password_change" %}">Cambiar contraseña</a></li>
		<li>
			<form action="{% url 'logout' %}" method="post">
				{% csrf_token %}
				<button class="fallout-font dropdown-item py-0 pr-0" type="submit">Salir</button>
			</form>
		</li>
		{% endif %}
	</ul>
</li>
<!-- Django 5.0 requiere que el pedido de logout se envíe a través de un POST request -->

<!-- Login/Logout Ends -->

</ul>
</div>
</nav>