{% extends "base.html" %}
{% block content %}
{% block title %}<title>{{object.id}}-{{object.representantetecnico_nombre}} {{object.representantetecnico_apellido}}</title>{% endblock title %}

{{ form.media.css }}
<form id="mainForm" action="{% url "carga:update-representantetecnico" object.id %}" method="POST">
  {% csrf_token %}
  {% include "partials/representantetecnico-form-partial.html" %}
</form>
{{ form.media.js }}
{% endblock %}

{% block actions %}
  {% include "partials/form-actions.html" %}
{% endblock %}
