{% extends "base.html" %}

{% block content %}

{{ form.media.css }}
<div class="flex-grow-1 bg-white d-flex flex-column justify-content-center">
        <div class="flex-grow-0 flex-shrink-0 container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-12">
                    <div class="bg-white shadow rounded-4">
                        <div id="content" class="text-center p-5">
                            <span><h4>Tipo de Decreto</h4></span>
                            <a href="{% url 'secretariador:crear-decreto' %}" type="button" class="btn btn-primary">Decreto</a>
                            <a href="{% url 'secretariador:crear-montoviaticodiario' %}" type="button" class="btn btn-primary">Decreto Escala de Viáticos</a>
                            <a href="{% url 'secretariador:lista-decretos' %}" type="button" class="btn btn-secondary">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{{ form.media.js }}

{% endblock %}