    
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form %}
      {% if field|widget_type == "textarea" %}
        <div class="form-floating">
          {% render_field field|append_attr:"class:form-control" rows="3" placeholder=field.label %}
          <label for="{{field.auto_id}}">{{field.label}}</label>
        {% for error in field.errors %}
          <span class="is-invalid">{{ error }}</span>
        {% endfor %}
        </div>
      {% elif field|widget_type == "textinput" %}
        <div class="form-floating">
          {% render_field field|append_attr:"class:form-control" rows="3" placeholder=field.label %}
          <label for="{{field.auto_id}}">{{field.label}}</label>
        </div>
      {% elif field|widget_type == "numberinput" %}
        <div class="input-group">
          <span class="input-group-text">{{field.label}}</span>
          {% render_field field|append_attr:"class:form-control" rows="3"%}
        {% for error in field.errors %}
          <span class="is-invalid">{{ error }}</span>
        {% endfor %}
        </div>
      {% elif field|widget_type == "select" %}
        <div class="input-group">
          <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
          {% render_field field|append_attr:"class:form-control"%}
        </div>
      {% elif field|widget_type == "obrawidget" %}
      <div class="input-group">
        <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="form-control">
        {% render_field field|append_attr:"class:form-select"%}
        </div>
      </div>
      {% elif field|widget_type == "empresawidget" %}
      <div class="input-group">
        <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="form-control">
        {% render_field field|append_attr:"class:form-select"%}
        </div>
      </div>
      {% elif field|widget_type == "contratomontowidget" %}
      <div class="input-group">
        <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="form-control">
        {% render_field field|append_attr:"class:form-select"%}
        </div>
      </div>
      {% elif field|widget_type == "obramultiplewidget" %}
      <div class="input-group">
        <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="form-control">
        {% render_field field|append_attr:"class:form-select"%}
        </div>
      </div>
      {% elif field|widget_type == "departamentomultiplewidget" %}
      <div class="input-group">
        <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="form-control">
        {% render_field field|append_attr:"class:form-select"%}
        </div>
      </div>
      {% elif field|widget_type == "localidadmultiplewidget" %}
      <div class="input-group">
        <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="form-control">
        {% render_field field|append_attr:"class:form-select"%}
        </div>
      </div>
      {% elif field|widget_type == "municipiomultiplewidget" %}
      <div class="input-group">
        <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="form-control">
        {% render_field field|append_attr:"class:form-select"%}
        </div>
      </div>
      {% elif field|widget_type == "selectmultiple" %}
        <div class="input-group">
          <label class="input-group-text" for="{{field.auto_id}}">{{field.label}}</label>
          {% render_field field|append_attr:"class:form-control"%}
        </div>
      {% elif field|widget_type == "dateinput" %}
        <div class="form-floating">
          {% render_field field class="form-control" autocomplete="off" rows="3" placeholder=field.label %}
          <label for="{{field.auto_id}}">{{field.label}}</label>
        </div>
      {% elif field|widget_type == "emailinput" %}
      <div class="form-floating">
        {% render_field field|append_attr:"class:form-control" rows="3" placeholder=field.label %}
        <label for="{{field.auto_id}}">{{field.label}}</label>
      </div>
      {% elif field|widget_type == "clearablefileinput"%}
      <div class="form border border-color">
        <label for="{{field.auto_id}}"><b>{{field.label}}</b></label>
        {{field}} 
      </div>
      {% elif field|widget_type == "checkboxinput" %}
      <div class="form-check">
        {% render_field field|append_attr:"class:form-check-input" %}
        <label class="form-check-label" for="{{field.auto_id}}">
          {{field.label}}
        </label>
      </div>
      {% else %}
      {{field.label}}{{field}}<br>
      {% endif %}
    {% endfor %}
    