<div class="card mb-3">
<div class="card-header py-2 bg-light fw-semibold small">Obras</div>
<div class="card-body p-2">
<div class="table-responsive">
<table id="tablaObras{{object.id}}" class="table table-sm table-bordered table-hover align-middle mb-0">
    <thead class="table-light">
        <tr>
            <th class="small" scope="col">ID#</th>
            <th class="small" scope="col">Obra</th>
            <th class="small" scope="col">Soluciones</th>
            <th class="small" scope="col">Localidad</th>
            <th class="small" scope="col">Contratista</th>
            <th class="small" scope="col">Programa</th>
            <th class="small" scope="col">Convenio</th>
            <th class="small" scope="col">Expediente</th>
            <th class="small" scope="col">Monto Pesos</th>
            <th class="small" scope="col">Monto UVI</th>
            <th class="small" scope="col">% Ultimo Mes</th>
            <th class="small" scope="col">Acumulado</th>
            <th class="small" scope="col">Acumulado en Pesos</th>
            <th class="small" scope="col">Acumulado en UVI</th>
            <th class="small d-print-none" scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        {% if object.obra_inspector.all %}
            {% for instance in object.obra_inspector.all %}
                {% include "partials/obra-body-partial.html"%}
            {% endfor %}
        {% endif %}
        {% if object.obra_departamento.all %}
            {% for instance in object.obra_departamento.all %}
                {% include "partials/obra-body-partial.html"%}
            {% endfor %}
        {% endif %}
        {% if object.obra_representantetecnico.all %}
            {% for instance in object.obra_representantetecnico.all %}
                {% include "partials/obra-body-partial.html"%}
            {% endfor %}
        {% endif %}
        {% if object.obra_set.all %}
            {% for instance in object.obra_set.all %}
                {% include "partials/obra-body-partial.html"%}
            {% endfor %}
        {% endif %}
        {% if object.obra_localidad.all %}
            {% for instance in object.obra_localidad.all %}
                {% include "partials/obra-body-partial.html"%}
            {% endfor %}
        {% endif %}
        {% if object.obra_municipio.all %}
            {% for instance in object.obra_municipio.all %}
                {% include "partials/obra-body-partial.html"%}
            {% endfor %}
        {% endif %}
    </tbody>
    <tfoot class="table-light fw-semibold">
        <tr>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" id="totalSoluciones{{object.id}}" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col">Totales</th>
            <th class="small" id="totalPesos{{object.id}}" scope="col"></th>
            <th class="small" id="totalUVI{{object.id}}" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" id="acumuladoPesos{{object.id}}" scope="col"></th>
            <th class="small" id="acumuladoUVI{{object.id}}" scope="col"></th>
            <th class="small d-print-none" scope="col"></th>
        </tr>
    </tfoot>
</table>
</div>
</div>
</div>

<script>
    sumaColumna("tablaObras{{object.id}}",2, "totalSoluciones{{object.id}}")
    sumaColumnaPesos("tablaObras{{object.id}}", 8, "totalPesos{{object.id}}");
    sumaColumnaUvi("tablaObras{{object.id}}", 9, "totalUVI{{object.id}}");
    sumaColumnaPesos("tablaObras{{object.id}}", 12, "acumuladoPesos{{object.id}}");
    sumaColumnaUvi("tablaObras{{object.id}}", 13, "acumuladoUVI{{object.id}}");
</script>