{% load static %}
<div class="table-responsive">
<table id="tablaCertificados{{object.id}}" class="table table-sm table-bordered table-hover align-middle mb-0">
    <thead class="table-light">
        <tr>
            <th class="small" scope="col">ID#</th>
            <th class="small" scope="col">Expediente</th>
            <th class="small" scope="col">A.</th>
            <th class="small" scope="col">O.</th>
            <th class="small" scope="col">D.A.</th>
            <th class="small" scope="col">Periodo</th>
            <th class="small" scope="col">Mes %</th>
            <th class="small" scope="col">Ant %</th>
            <th class="small" scope="col">Acu %</th>
            <th class="small" scope="col">Rubro</th>
            <th class="small" scope="col">Financiamiento</th>
            <th class="small" scope="col">Monto $</th>
            <th class="small" scope="col">Dev./Desc. $</th>
            <th class="small" scope="col">Monto UVI</th>
            <th class="small" scope="col">Dev./Desc. UVI</th>
            <th class="small" scope="col">Total $</th>
            <th class="small" scope="col">Total UVI</th>
            <th class="small d-print-none" scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for instance in object.certificado_set.all|dictsort:"certificado_fecha" %}
        <tr>
            <td class="small">{{instance.id}}</td>
            <td class="small">{{instance.certificado_expediente}}</td>
            <td class="small">{{instance.certificado_rubro_anticipo}}</td>
            <td class="small">{{instance.certificado_rubro_obra}}</td>
            <td class="small">{{instance.certificado_rubro_devanticipo}}</td>
            <td class="small">{{instance.certificado_fecha|date:"M-Y"}}</td>
            <td class="small">{{instance.certificado_pct_principal}}</td>
            <td class="small">{{instance.certificado_ante_pct}}</td>
            <td class="small">{{instance.certificado_acum_pct}}</td>
            <td class="small">{{instance.certificado_rubro_db.certificadorubro_nombre}}</td>
            <td class="small">{{instance.get_certificado_financiamiento_display}}</td>
            <td class="small">{{instance.certificado_monto_pesos}}</td>
            {% if instance.certificado_tipo == "LEGACY" %}
            <td class="small">{{instance.certificado_devolucion_monto}}</td>
            {% else %}
            <td class="small">{{instance.certificado_descuento_anticipo_pesos}}</td>
            {% endif %}
            <td class="small">{{instance.certificado_monto_uvi}}</td>
            {% if instance.certificado_tipo == "LEGACY" %}
            <td class="small">{{instance.certificado_devolucion_monto_uvi}}</td>
            {% else %}
            <td class="small">{{instance.certificado_descuento_anticipo_uvi}}</td>
            {% endif %}
            <td class="small">{{instance.certificado_monto_cobrar}}</td>
            <td class="small">{{instance.certificado_monto_cobrar_uvi}}</td>
            <td class="small d-print-none">
                {% if instance.certificado_digital %}
                    <a href="{{instance.certificado_digital.url}}">{{pdfimglink|safe}}</a>
                {% else %}
                    {{nofileimglink|safe}}
                {% endif %}
                <a href="{% url "carga:detalle-certificado" instance.id %}">{{detalleimglink|safe}}</a>
                    {% if perms.carga.change_certificado %}
                  <a href="{% url "carga:update-certificado" instance.id %}">{{editimglink|safe}}</a>
                {% endif %}
                {% if perms.carga.delete_certificado %}
                  <a href="{% url "carga:eliminar-certificado" instance.id %}">{{eliminarimglink|safe}}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="table-light fw-semibold">
        <tr>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col"></th>
            <th class="small" scope="col">Totales</th>
            <th class="small" id="totalPesos{{object.id}}" scope="col">Monto $</th>
            <th class="small" id="totalDevolucion{{object.id}}" scope="col">Dev./Desc.</th>
            <th class="small" id="totalUvi{{object.id}}" scope="col">Monto UVI</th>
            <th class="small" id="totalDevolucionUvi{{object.id}}" scope="col">Dev./Desc. UVI</th>
            <th class="small" id="montoCobrar{{object.id}}" scope="col">Monto a Cobrar</th>
            <th class="small" id="montoCobrarUvi{{object.id}}" scope="col">Monto a Cobrar UVI</th>
            <th class="small d-print-none" scope="col"> </th>
        </tr>
    </tfoot>
</table>
</div>

<script>
    sumaColumnaPesos("tablaCertificados{{object.id}}", 11, "totalPesos{{object.id}}");
    sumaColumnaPesos("tablaCertificados{{object.id}}", 12, "totalDevolucion{{object.id}}");
    sumaColumnaUvi("tablaCertificados{{object.id}}", 13, "totalUvi{{object.id}}");
    sumaColumnaUvi("tablaCertificados{{object.id}}", 14, "totalDevolucionUvi{{object.id}}");
    sumaColumnaPesos("tablaCertificados{{object.id}}", 15, "montoCobrar{{object.id}}");
    sumaColumnaUvi("tablaCertificados{{object.id}}", 16, "montoCobrarUvi{{object.id}}");
</script>