<tr>
    {% load humanize %}
    {% load static %}
    <th class="small" scope="row">{{instance.poliza_numero}}</th>
    <th class="small">{{instance.poliza_obra.obra_expediente}}</th>
    <td class="small">{{instance.poliza_obra.obra_nombre}}</td>
    <td class="small">{{instance.poliza_obra.lista_localidades}}</td>
    <td class="small">{{instance.poliza_obra.obra_empresa.empresa_nombre}}</td>
    <td class="small">{{instance.poliza_obra.obra_programa}}</td>
    <td class="small">{{instance.poliza_obra.obra_convenio|default_if_none:"-"}}</td>
    <td class="small">{{instance.poliza_obra.obra_expediente}}</td>
    <td class="small">{{instance.poliza_obra.obra_contrato_total_pesos}}</td>
    <td class="small">{{instance.poliza_obra.obra_contrato_total_uvi}}</td>
    <td class="small d-print-none"><a href="{% url "carga:estado-obra" instance.poliza_obra.id %}">{{detalleimglink|safe}}</a></td>
</tr>