{% extends "base.html" %}

{% block content %}
{%block title%}<title>{{title}}</title>{%endblock title%}

{{ form.media.css }}
<form action='{% url "secretariador:update-comisionado" object.id %}' method="POST" enctype="multipart/form-data"> 
  {% csrf_token %}
    
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      {% include "partials/administrative-sidebar.html" %}
      {% include "partials/floating-generic-menu.html" %}
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      {% include "partials/comisionados-form-partial.html" %}
    </main>
    <div class="d-none d-xl-block col-xl-2 bd-toc">
    </div>
  </div>
</form>
{{ form.media.js }}
<script>
  const dniInput = document.getElementById('id_comisionado_dni');
  dniInput.addEventListener('change', function() {
    var input = dniInput.value;
    if (!input || input.length !== 8) {
      input = "00000000";
    }
    else {
      input = dniInput.value;
    }
    const gender = document.getElementById('id_comisionado_sexo').value;
    const cuit = getCUIT(input, gender);
    $('#cuit-calculado').text("CUIT: " + cuit);
  });
</script>
{% endblock %}