{% csrf_token %}
<span class="fallout-font-md border border-dark rounded">Atributos Primarios</span>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div style="width:100px">
        </div>
    </div>
    <div class="fallout-font-md form-control ">Base</div>
    <div class="fallout-font-md form-control ">Mod</div>
    <div class="fallout-font-md form-control ">Total</div>
</div>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div class="fallout-font-md input-group-text " style="width:100px">
            {{form.StrBase.label}}
        </div>
    </div>
    {{form.StrBase}} 
    {{form.StrMod}}
    <input type="text" class="fallout-font-md form-control" value="{{form.instance.StrTotal}}" style="margin-left:-1px" readonly="readonly" />
</div>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div class="fallout-font-md input-group-text " style="width:100px">
            {{form.PerBase.label}}
        </div>
    </div>
    {{form.PerBase}} 
    {{form.PerMod}}
    <input type="text" class="fallout-font-md form-control" value="{{form.instance.PerTotal}}" style="margin-left:-1px" readonly="readonly" />
</div>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div class="fallout-font-md input-group-text " style="width:100px">
            {{form.ResBase.label}}
        </div>
    </div>
    {{form.ResBase}} 
    {{form.ResMod}}
    <input type="text" class="fallout-font-md form-control" value="{{form.instance.ResTotal}}" style="margin-left:-1px" readonly="readonly" />
</div>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div class="fallout-font-md input-group-text " style="width:100px">
            {{form.CarBase.label}}
        </div>
    </div>
    {{form.CarBase}} 
    {{form.CarMod}}
    <input type="text" class="fallout-font-md form-control" value="{{form.instance.CarTotal}}" style="margin-left:-1px" readonly="readonly" />
</div>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div class="fallout-font-md input-group-text " style="width:100px">
            {{form.IntBase.label}}
        </div>
    </div>
    {{form.IntBase}} 
    {{form.IntMod}}
    <input type="text" class="fallout-font-md form-control" value="{{form.instance.IntTotal}}" style="margin-left:-1px" readonly="readonly" />
</div>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div class="fallout-font-md input-group-text " style="width:100px">
            {{form.AgiBase.label}}
        </div>
    </div>
    {{form.AgiBase}} 
    {{form.AgiMod}}
    <input type="text" class="fallout-font-md form-control" value="{{form.instance.AgiTotal}}" style="margin-left:-1px" readonly="readonly" />
</div>
<div class="fallout-font-md input-group">
    <div class="fallout-font-md input-group-prepend">
        <div class="fallout-font-md input-group-text " style="width:100px">
            {{form.SueBase.label}}
        </div>
    </div>
    {{form.SueBase}} 
    {{form.SueMod}}
    <input type="text" class="fallout-font-md form-control" value="{{form.instance.SueTotal}}" style="margin-left:-1px" readonly="readonly" />
</div>