<span class="fallout-font-md fs-3 border border-dark rounded">Atributos Primarios</span>
<div class="fallout-font-lg input-group">
    <div class="fallout-font-lg input-group-prepend">
        <div class="fallout-font-lg input-group-text fs-1">FU-</div>
    </div>
    <input type="number" name="SrtTotal" class="fallout-font-lg form-control fs-1" id="id_StrTotal"
        value="{{object.StrTotal}}" min="1" step="1">
</div>
<div class="fallout-font-lg input-group">
    <div class="fallout-font-lg input-group-prepend">
        <div class="fallout-font-lg input-group-text fs-1">PE-</div>
    </div>
    <input type="number" name="PerTotal" class="fallout-font-lg form-control fs-1" id="id_PerTotal"
        value="{{object.PerTotal}}" min="1" step="1">
</div>
<div class="fallout-font-lg input-group">
    <div class="fallout-font-lg input-group-prepend">
        <div class="fallout-font-lg input-group-text fs-1">RE-</div>
    </div>
    <input type="number" name="ResTotal" class="fallout-font-lg form-control fs-1" id="id_ResTotal"
        value="{{object.ResTotal}}" min="1" step="1">
</div>
<div class="fallout-font-lg input-group">
    <div class="fallout-font-lg input-group-prepend">
        <div class="fallout-font-lg input-group-text fs-1">CA-</div>
    </div>
    <input type="number" name="CarTotal" class="fallout-font-lg form-control fs-1" id="id_CarTotal"
        value="{{object.CarTotal}}" min="1" step="1">
</div>
<div class="fallout-font-lg input-group">
    <div class="fallout-font-lg input-group-prepend">
        <div class="fallout-font-lg input-group-text fs-1">IN-</div>
    </div>
    <input type="number" name="IntTotal" class="fallout-font-lg form-control fs-1" id="id_IntTotal"
        value="{{object.IntTotal}}" min="1" step="1">
</div>
<div class="fallout-font-lg input-group">
    <div class="fallout-font-lg input-group-prepend">
        <div class="fallout-font-lg input-group-text fs-1">AG-</div>
    </div>
    <input type="number" name="AgiTotal" class="fallout-font-lg form-control fs-1" id="id_AgiTotal"
        value="{{object.AgiTotal}}" min="1" step="1">
</div>
<div class="fallout-font-lg input-group">
    <div class="fallout-font-lg input-group-prepend">
        <div class="fallout-font-lg input-group-text fs-1">SU-</div>
    </div>
    <input type="number" name="SueTotal" class="fallout-font-lg form-control fs-1" id="id_SueTotal"
        value="{{object.SueTotal}}" min="1" step="1">
</div>