<span class="fallout-font-md fs-3 border border-dark rounded">Atributos Secundarios</span>

<div class="fallout-font row"><span>PUNTOS DE ACCION » (5+AG/2)</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"
                        id="apBase">{{object.apBase}}</span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"
                        id="apTotal">{{object.apTotal}}</span></div>
</div>
<div class="fallout-font row border-top border-dark"><span>SECUENCIA » (2xPE)</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="secBase">{{object.secBase}}</span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="secTotal">{{object.secTotal}}</span></div>
</div>
<div class="fallout-font row border-top border-dark"><span>DAÑO MELEE » (FU - 5) Minimo 1</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="danoMeleeBase">{{object.danoMeleeBase}}</span>
        </div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="danoMeleeTotal">{{object.danoMeleeTotal}}</span>
        </div>
</div>
<div class="fallout-font row border-top border-dark"><span>POSIBILIDAD DE CRITICO » (SU)</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="probCriticoBase">{{object.probCriticoBase}}</span>
        </div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="probCriticoTotal">{{object.probCriticoTotal}}</span>
        </div>
</div>
<div class="fallout-font row border-top border-dark"><span>RATIO CURACION » (RE / 3)</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="ratioCuracionBase">{{object.ratioCuracionBase}}</span>
        </div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="ratioCuracionTotal">{{object.ratioCuracionTotal}}</span>
        </div>
</div>
<div class="fallout-font row border-top border-dark"><span>CAPACIDAD DE CARGA » (25 + 25xFU) lbs</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="capCargaBase">{{object.capCargaBase}}</span>
        </div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="capCargaTotal">{{object.capCargaTotal}}</span>
        </div>
</div>
<div class="fallout-font row border-top border-dark"><span>RESISTENCIA VENENO » (5 x RE)</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="resVenenoBase">{{object.resVenenoBase}}</span>
        </div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="resVenenoTotal">{{object.resVenenoTotal}}</span>
        </div>
</div>
<div class="fallout-font row border-top border-dark"><span>RESISTENCIA RADIACION » (2 x RE)</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5"
                        id="resRadiacionBase">{{object.resRadiacionBase}}</span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="resRadiacionTotal">{{object.resRadiacionTotal}}</span>
        </div>
</div>
<div class="fallout-font row border-top border-dark"><span>RESISTENCIA ELECTRICIDAD »</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5"
                        id="resElectricidadBase">{{object.resElectricidadBase}}</span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"
                        id="resElectricidadTotal">{{object.resElectricidadTotal}}</span></div>
</div>
<div class="fallout-font row border-top border-dark"><span>RESISTENCIA GAS »</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="resGasBase">{{object.resGasBase}}</span>
        </div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="resGasTotal">{{object.resGasTotal}}</span>
        </div>
</div>
<div class="fallout-font row border-top border-dark"><span>IMPLANTE » (10 x (IN + RE))</span></div>
<div class="fallout-font row">
        <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
        <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="implanteBase">{{object.implanteBase}}</span>
        </div>
        <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font p-0 m-0 shadow-none no-border"></span></div>
        <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
        <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="implanteTotal">{{object.implanteTotal}}</span>
        </div>
</div>