{% load static %}
<span class="fallout-font-md fs-3 border border-dark rounded">HABILIDADES</span>
<small>(0-100 1p=1p) (101-125 2p=1p) (126-150 3p=1p) (151-175 4p=1p) (176-... 5p=1p)</small>
<table class="fallout-font table table-sm">
    <thead class="fallout-font border-bottom border-dark">
        <tr>
            <td class="fallout-font align-left col-6"></td>
            <td class="fallout-font align-left col-1">Base</td>
            <td class="fallout-font align-left col-1">Mod</td>
            <td class="fallout-font align-left col-1">Puntos</td>
            <td class="fallout-font align-left col-1">Total</td>
            <td class="fallout-font align-left col-1"></td>
        </tr>
        </thdead>
    <tbody>
        <!--
        {{field.auto_id}}BaseSkill
        {{field.auto_id}}PointsSkill
        {{field.auto_id}}TotalSkill
        {{field.auto_id}}Mod
        {{field.auto_id}}Tag
        -->
        {% for field in form.visible_fields|slice:"18:" %}
        <tr class="fallout-font border-bottom border-dark">
                <td class="fallout-font col-6 align-left" id="{{field.auto_id}}TD">
                        <input class="fallout-font form-check-input" type="checkbox" name="{{field.name}}" id="{{field.auto_id}}">
                        {{field.label}}
                </td>
                <td class="fallout-font col-1" id="{{field.auto_id}}BaseTD">
                        <span class="fallout-font p-0 m-0 shadow-none no-border"></span>
                </td>
                <td class="fallout-font col-1" id="{{field.auto_id}}ModTD">
                        <span class="fallout-font p-0 m-0 shadow-none no-border"></span>
                </td>
                <td class="fallout-font col-1" id="{{field.auto_id}}PointsSkillTD">
                        <span class="fallout-font p-0 m-0 shadow-none no-border"></span>
                </td>
                <td class="fallout-font col-1" id="{{field.auto_id}}TotalSkillTD">
                        <span class="fallout-font p-0 m-0 shadow-none no-border"></span>
                </td>
                <td class="fallout-font col-1" id="{{field.auto_id}}ButtonsTD">
                        <nobr>
                        <img src="{% static 'minus-circle.svg' %}" width="14" heigth="14"/>
                        <img src="{% static 'plus-circle.svg' %}" width="14" heigth="14"/>
                        </nobr>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
