{% extends "home/fallout-base.html" %}
{% block content %}
{% load static %}

{% include "partials/planilla/character-generator-form.html" %}

{% include "partials/planilla/datos-generales.html" %}
<div class="fallout-font row border border-dark rounded rounded-3 p-2">
        <div class="fallout-font col border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/atributos-primarios.html" %}
        </div>
        <div class="fallout-font col border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/atributos-secundarios.html" %}
        </div>
</div>
<div class="fallout-font col">
        {% include "partials/planilla/habilidades.html" %}
</div>

{% endblock %}