{% extends "home/fallout-base.html" %}
{% block content %}
{% load static %}
<form action='{% url "fallout:planilla-fallout-update" object.id %}' method="POST">
{% csrf_token %}
{% include "partials/planilla/datos-generales-update.html" %}

<div class="fallout-font row border border-dark rounded rounded-3 p-2">
        <div class="fallout-font col border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/atributos-primarios-update.html" %}
        </div>
    
        <div class="fallout-font col border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/atributos-secundarios-update.html" %}
        </div>
        <div class="fallout-font col-5 border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/habilidades-update.html" %}
        </div>
</div>

<div class="fallout-font row border border-dark rounded rounded-3 p-2">
        <div class="fallout-font col border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/conjunto-armadura-update.html" %}
        </div>
        <div class="fallout-font col border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/clase-armadura-update.html" %}
        </div>
        <div class="fallout-font col-6 border border-dark rounded rounded-3 m-1">
                {% include "partials/planilla/armadura-update.html" %}
        </div>
</div>

<div class="fallout-font border">
        <input type='submit' value='Guardar' class="fallout-font-lg" />
</div>
</form>

{% endblock %}