{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    @font-face { font-family: Swiss; src: url('/static/Swiss 911 Compressed Regular.otf'); }
    .fallout-font {
        font-family: Swiss !important
    }
    .no-border {
        border: 0;
    }
    tr td{
        padding: 0 !important;
        margin: 0 !important;
      }
</style>

<div class="fallout-font col p-2">

    <div class="fallout-font col-4 input-group">
        <div class="fallout-font input-group-prepend">
            <div class="fallout-font input-group-text">Raza</div>
        </div>
        <select class="fallout-font form-select" name="razaPNJ" required id="id_razaPNJ">
            <option value="">---------</option>
            <option value="H">Humano</option>
            <option value="G">Ghoul</option>
            <option value="S">Super-Mutante</option>
            <option value="D">Garra Mortal</option>
            <option value="P">Perro</option>
            <option value="R">Robot</option>
        </select>
    </div>
    <div class="fallout-font col-4 input-group">
        <div class="fallout-font input-group-prepend">
            <div class="fallout-font input-group-text">Nivel</div>
        </div>
        <input type="number" name="nivelPNJ" class="fallout-font form-control" id="id_nivelPNJ" placeholder="Nivel">
    </div>
    <div class="fallout-font col-4 input-group">
        <input type="button" name="genPNJ" class="fallout-font form-control" id="id_genPNJ" value='Generar PNJ' onclick='console.log(document.getElementById("id_razaPNJ").value, document.getElementById("id_nivelPNJ").value)'>
    </div>

</div>
<!-- onclick="generar('human', 6) -->

<div class="fallout-font row border border-dark rounded rounded-3 p-2">
    <div class="fallout-font col-6">
        <span class="fallout-font fs-3 border border-dark rounded">Datos Generales</span>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Nombre</div>
            </div>
            <input type="text" name="nombrePersonaje" class="fallout-font form-control" id="id_nombrePersonaje" value="{{object.nombrePersonaje}}" placeholder="Nombre del Personaje">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Jugador</div>
            </div>
            <input type="text" name="nombreJugador" class="fallout-font form-control" id="id_nombreJugador" value="{{request.user}}" placeholder="Nombre del Jugador">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Edad</div>
            </div>
            <input type="number" name="edadPersonaje" class="fallout-font form-control" id="id_edadPersonaje" value="{{object.edadPersonaje}}" placeholder="Edad" min="0">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Género</div>
            </div>
            <input type="text" name="generoPersonaje" class="fallout-font form-control" id="id_generoPersonaje" value="{{object.generoPersonaje}}" placeholder="Género">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Raza</div>
            </div>
            <select class="fallout-font form-select" name="razaPersonaje" required id="id_razaPersonaje">
                <option value="">---------</option>
                <option value="H" {%if object.razaPersonaje == "H"%}selected{%endif%}>Humano</option>
                <option value="G" {%if object.razaPersonaje == "G"%}selected{%endif%}>Ghoul</option>
                <option value="S" {%if object.razaPersonaje == "S"%}selected{%endif%}>Super-Mutante</option>
                <option value="D" {%if object.razaPersonaje == "D"%}selected{%endif%}>Garra Mortal</option>
                <option value="P" {%if object.razaPersonaje == "P"%}selected{%endif%}>Perro</option>
                <option value="R" {%if object.razaPersonaje == "R"%}selected{%endif%}>Robot</option>
            </select>
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Altura</div>
            </div>
            <input type="number" name="alturaPersonaje" class="fallout-font form-control" id="id_alturaPersonaje" value="{{object.alturaPersonaje}}" placeholder="Altura" min="0" step="0.01">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Peso</div>
            </div>
            <input type="number" name="pesoPersonaje" class="fallout-font form-control" id="id_pesoPersonaje" value="{{object.pesoPersonaje}}" placeholder="Peso" min="0">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Facción/Alianza</div>
            </div>
            <input type="text" name="faccionPersonaje" class="fallout-font form-control" id="id_faccionPersonaje" value="{{object.faccionPersonaje}}" placeholder="Facción">
        </div>
    </div>
    <div class="fallout-font col-3 border">
        
        <img src="{% static "vaultboy-launcher.jpg" %}" title="Vault Boy" class="fallout-font img-fluid" />
        
    </div>
    <div class="fallout-font col-3">
        <span class="fallout-font fs-3 border border-dark rounded">Status</span>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Nivel</div>
            </div>
            <input type="number" name="nivelPersonaje" class="fallout-font form-control" id="id_nivelPersonaje" value="{{object.nivelPersonaje}}" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Experiencia</div>
            </div>
            <input type="text" name="experienciaPersonaje" class="fallout-font form-control" id="id_experienciaPersonaje" value="{{object.experienciaPersonaje}}" placeholder="XP">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Karma</div>
            </div>
            <input type="text" name="karmaPersonaje" class="fallout-font form-control" id="id_karmaPersonaje" value="{{object.karmaPersonaje}}" placeholder="Karma">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">PG/Nivel (3+(RE/2)) »</div>
            </div>
            <input type="text" class="fallout-font form-control" id="pgPorNivelPersonaje" value="0">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">PH/Nivel (5+(2*IN)) »</div>
            </div>
            <input type="text" class="fallout-font form-control" id="habilidadPorNivelPersonaje" value="0">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text">Perks/Nivel</div>
            </div>
            <input type="text" class="fallout-font form-control" id="perksPorNivelPersonaje" value="1">
        </div>
    </div>
</div>
<div class="fallout-font row border border-dark rounded rounded-3 p-2">
    <div class="fallout-font col-3">
        <span class="fallout-font fs-3 border border-dark rounded">Atributos Primarios</span>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text fs-1">FU-</div>
            </div>
            <input type="number" name="SrtStat" class="fallout-font form-control fs-1" id="id_StrStat" value="{{object.StrStat}}" min="1" step="1" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text fs-1">PE-</div>
            </div>
            <input type="number" name="PerStat" class="fallout-font form-control fs-1" id="id_PerStat" value="{{object.PerStat}}" min="1" step="1" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text fs-1">RE-</div>
            </div>
            <input type="number" name="ResStat" class="fallout-font form-control fs-1" id="id_ResStat" value="{{object.ResStat}}" min="1" step="1" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text fs-1">CA-</div>
            </div>
            <input type="number" name="CarStat" class="fallout-font form-control fs-1" id="id_CarStat" value="{{object.CarStat}}" min="1" step="1" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text fs-1">IN-</div>
            </div>
            <input type="number" name="IntStat" class="fallout-font form-control fs-1" id="id_IntStat" value="{{object.IntStat}}" min="1" step="1" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text fs-1">AG-</div>
            </div>
            <input type="number" name="AgiStat" class="fallout-font form-control fs-1" id="id_AgiStat" value="{{object.AgiStat}}" min="1" step="1" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
        <div class="fallout-font input-group">
            <div class="fallout-font input-group-prepend">
                <div class="fallout-font input-group-text fs-1">SU-</div>
            </div>
            <input type="number" name="SueStat" class="fallout-font form-control fs-1" id="id_SueStat" value="{{object.SueStat}}" min="1" step="1" onchange="actualizarModificadoresAtributosSecundarios()">
        </div>
    </div>
    <div class="fallout-font col-3 border border-dark">
        <span class="fallout-font fs-3 border border-dark rounded">Atributos Secundarios</span>
        
        <div class="fallout-font row"><span>PUNTOS DE ACCION » (5+AG/2)</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"id="apBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="apMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.apMod}}" min="0" id="id_apMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="apTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>SECUENCIA » (2xPE)</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"id="secBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="secMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.secMod}}" min="0" id="id_secMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="secTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>DAÑO MELEE » (FU - 5) Minimo 1</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"id="danoMeleeBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="danoMeleeMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.danoMeleeMod}}" min="0" id="id_danoMeleeMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="danoMeleeTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>POSIBILIDAD DE CRITICO » (SU)</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"id="probCriticoBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="probCriticoMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="0" min="{{object.probCriticoMod}}" id="id_probCriticoMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="probCriticoTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>RATIO CURACION » (RE / 3)</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5"id="ratioCuracionBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="ratioCuracionMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.ratioCuracionMod}}" min="0" id="id_ratioCuracionMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="ratioCuracionTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>CAPACIDAD DE CARGA » (25 + 25xFU) lbs</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="capCargaBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="capCargaMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.capCargaMod}}" min="0" id="id_capCargaMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="capCargaTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>RESISTENCIA VENENO » (5 x RE)</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="resVenenoBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="resVenenoMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.resVenenoMod}}" min="0" id="id_resVenenoMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="resVenenoTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>RESISTENCIA RADIACION » (2 x RE)</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="resRadiacionBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="resRadiacionMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.resRadiacionMod}}" min="0" id="id_resRadiacionMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="resRadiacionTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>RESISTENCIA ELECTRICIDAD »</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="resElectricidadBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="resElectricidadMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.resElectricidadMod}}" min="0" id="id_resElectricidadMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="resElectricidadTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>RESISTENCIA GAS »</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="resGasBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="resGasMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.resGasMod}}" min="0" id="id_resGasMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="resGasTotal">*</span></div>
        </div>
        <div class="fallout-font row border-top border-dark"><span>IMPLANTE » (10 x (IN + RE))</span></div>
        <div class="fallout-font row">
            <div class="fallout-font col-2 ms-3 p-0 border-top"><span>Base:</span></div>
            <div class="fallout-font col-1 me-1 p-0 border-top"><span class="fallout-font fs-5" id="implanteBase">*</span></div>
            <div class="fallout-font col-2 p-0 border-top"><span>+/-</span></div>
            <div class="fallout-font col-1 p-0 border-top"><input type="text" name="implanteMod" class="fallout-font form-control p-0 m-0 fs-5 shadow-none no-border" value="{{object.implanteMod}}" min="0" id="id_implanteMod"></div>
            <div class="fallout-font col-2 p-0 border-top"><span>Total:</span></div>
            <div class="fallout-font col-1 p-0 border-top"><span class="fallout-font fs-5" id="implanteTotal">*</span></div>
        </div>

    </div>
    
    <div class="fallout-font col-6 border border-dark">
        <span class="fallout-font fs-3 border border-dark rounded">HABILIDADES</span>
        <small>((0-100 1p=1p) (101-125 2p=1p) (126-150 3p=1p) (151-175 4p=1p) (176-... 5p=1p)</small>
        <table class="fallout-font table table-sm">
            <thead class="fallout-font border-bottom border-dark">
              <tr>
                <td class="fallout-font col-6"></td>
                <td>Base</td>
                <td></td>
                <td>+/-</td>
                <td></td>
                <td>Total</td>
                <td></td>
                <td class="fallout-font col-1"></td>
              </tr>
            </thdead>
            <tbody>
              <tr class="fallout-font border-bottom border-dark" id="armasPequenasNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="armasPequenasTag" id="id_armasPequenasTag" onchange="calculadorHabilidad('armasPequenasNode')" {%if object.armasPequenasTag%}Checked{%endif%}> ARMAS PEQUEÑAS » (5%+4xAG))</td>
                <td class="fallout-font col-1" id="armasPequenasBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="armasPequenasSkill" type="text" id="id_armasPequenasSkill" value="{{object.armasPequenasSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="armasPequenasMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.armasPequenasMod}}" min="0" id="id_armasPequenasMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="armasPequenasTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg' %}" width="14" heigth="14" onclick="habilidadMinus('armasPequenasBase','id_armasPequenasMod','id_armasPequenasSkill','id_armasPequenasTag','armasPequenasTotal')" /> <img src="{% static 'plus-circle.svg' %}" width="14" heigth="14" onclick="habilidadPlus('armasPequenasBase','id_armasPequenasMod','id_armasPequenasSkill','id_armasPequenasTag','armasPequenasTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="armasGrandesNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="armasGrandesTag" id="id_armasGrandesTag" onchange="actualizarHabilidades()" {%if object.armasGrandesTag%}Checked{%endif%}> ARMAS GRANDES » (0%+2xAG))</td>
                <td class="fallout-font col-1" id="armasGrandesBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="armasGrandesSkill" type="text" id="id_armasGrandesSkill" value="{{object.armasGrandesSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="armasGrandesMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.armasGrandesMod}}" min="0" id="id_armasGrandesMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="armasGrandesTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg' %}" width="14" heigth="14" onclick="habilidadMinus('armasGrandesBase','id_armasGrandesMod','id_armasGrandesSkill','id_armasGrandesTag','armasGrandesTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('armasGrandesBase','id_armasGrandesMod','id_armasGrandesSkill','id_armasGrandesTag','armasGrandesTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="armasEnergiaNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="armasEnergiaTag" id="id_armasEnergiaTag" onchange="actualizarHabilidades()" {%if object.armasEnergiaTag%}Checked{%endif%}> ARMAS ENERGIA » (0%+2xAG)</td>
                <td class="fallout-font col-1" id="armasEnergiaBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="armasEnergiaSkill" type="text" id="id_armasEnergiaSkill" value="{{object.armasEnergiaSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="armasEnergiaMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.armasEnergiaMod}}" min="0" id="id_armasEnergiaMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="armasEnergiaTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('armasEnergiaBase','id_armasEnergiaMod','id_armasEnergiaSkill','id_armasEnergiaTag','armasEnergiaTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('armasEnergiaBase','id_armasEnergiaMod','id_armasEnergiaSkill','id_armasEnergiaTag','armasEnergiaTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="armasMeleeNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="armasMeleeTag" id="id_armasMeleeTag" onchange="actualizarHabilidades()" {%if object.armasMeleeTag%}Checked{%endif%}> ARMAS MELEE » (20%+2x(AG+FU))</td>
                <td class="fallout-font col-1" id="armasMeleeBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="armasMeleeSkill" type="text" id="id_armasMeleeSkill" value="{{object.armasMeleeSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="armasMeleeMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.armasMeleeMod}}" min="0" id="id_armasMeleeMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="armasMeleeTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('armasMeleeBase','id_armasMeleeMod','id_armasMeleeSkill','id_armasMeleeTag','armasMeleeTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('armasMeleeBase','id_armasMeleeMod','id_armasMeleeSkill','id_armasMeleeTag','armasMeleeTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="desarmadoNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="desarmadoTag" id="id_desarmadoTag" onchange="actualizarHabilidades()" {%if object.desarmadoTag%}Checked{%endif%}> ARMAS MELEE » (30%+2x(AG+FU))</td>
                <td class="fallout-font col-1" id="desarmadoBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="desarmadoSkill" type="text" id="id_desarmadoSkill" value="{{object.desarmadoSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="desarmadoMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.desarmadoMod}}" min="0" id="id_desarmadoMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="desarmadoTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('desarmadoBase','id_desarmadoMod','id_desarmadoSkill','id_desarmadoTag','desarmadoTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('desarmadoBase','id_desarmadoMod','id_desarmadoSkill','id_desarmadoTag','desarmadoTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="lanzarNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="lanzarTag" id="id_lanzarTag" onchange="actualizarHabilidades()" {%if object.lanzarTag%}Checked{%endif%}> LANZAR » (0%+4x(AG))</td>
                <td class="fallout-font col-1" id="lanzarBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="lanzarSkill" type="text" id="id_lanzarSkill" value="{{object.lanzarSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="lanzarMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.lanzarMod}}" min="0" id="id_lanzarMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="lanzarTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('lanzarBase','id_lanzarMod','id_lanzarSkill','id_lanzarTag','lanzarTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('lanzarBase','id_lanzarMod','id_lanzarSkill','id_lanzarTag','lanzarTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="primerosAuxiliosNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="primerosAuxiliosTag" id="id_primerosAuxiliosTag" onchange="actualizarHabilidades()" {%if object.primerosAuxiliosTag%}Checked{%endif%}> PRIMEROS AUXILIOS » (0%+2x(PE+IN))</td>
                <td class="fallout-font col-1" id="primerosAuxiliosBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="primerosAuxiliosSkill" type="text" id="id_primerosAuxiliosSkill" value="{{object.primerosAuxiliosSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="primerosAuxiliosMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.primerosAuxiliosMod}}" min="0" id="id_primerosAuxiliosMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="primerosAuxiliosTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('primerosAuxiliosBase','id_primerosAuxiliosMod','id_primerosAuxiliosSkill','id_primerosAuxiliosTag','primerosAuxiliosTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('primerosAuxiliosBase','id_primerosAuxiliosMod','id_primerosAuxiliosSkill','id_primerosAuxiliosTag','primerosAuxiliosTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="medicinaNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="medicinaTag" id="id_medicinaTag" onchange="actualizarHabilidades()" {%if object.medicinaTag%}Checked{%endif%}> MEDICINA » (0%+5+(PE+IN))</td>
                <td class="fallout-font col-1" id="medicinaBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="medicinaSkill" type="text" id="id_medicinaSkill" value="{{object.medicinaSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="medicinaMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.medicinaMod}}" min="0" id="id_medicinaMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="medicinaTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('medicinaBase','id_medicinaMod','id_medicinaSkill','id_medicinaTag','medicinaTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('medicinaBase','id_medicinaMod','id_medicinaSkill','id_medicinaTag','medicinaTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="sigiloNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="sigiloTag" id="id_sigiloTag" onchange="actualizarHabilidades()" {%if object.sigiloTag%}Checked{%endif%}> SIGILO » (0%+5x(3xAG))</td>
                <td class="fallout-font col-1" id="sigiloBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="sigiloSkill" type="text" id="id_sigiloSkill" value="{{object.sigiloSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="sigiloMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.sigiloMod}}" min="0" id="id_sigiloMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="sigiloTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('sigiloBase','id_sigiloMod','id_sigiloSkill','id_sigiloTag','sigiloTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('sigiloBase','id_sigiloMod','id_sigiloSkill','id_sigiloTag','sigiloTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="ganzuasNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="ganzuasTag" id="id_ganzuasTag" onchange="actualizarHabilidades()" {%if object.ganzuasTag%}Checked{%endif%}> GANZUAS » (0%+(10%+PE+AG))</td>
                <td class="fallout-font col-1" id="ganzuasBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="ganzuasSkill" type="text" id="id_ganzuasSkill" value="{{object.ganzuasSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="ganzuasMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.ganzuasMod}}" min="0" id="id_ganzuasMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="ganzuasTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('ganzuasBase','id_ganzuasMod','id_ganzuasSkill','id_ganzuasTag','ganzuasTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('ganzuasBase','id_ganzuasMod','id_ganzuasSkill','id_ganzuasTag','ganzuasTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="robarNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="robarTag" id="id_robarTag" onchange="actualizarHabilidades()" {%if object.robarTag%}Checked{%endif%}> ROBAR » (0%+(3xAG))</td>
                <td class="fallout-font col-1" id="robarBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="robarSkill" type="text" id="id_robarSkill" value="{{object.robarSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="robarMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.robarMod}}" min="0" id="id_robarMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="robarTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('robarBase','id_robarMod','id_robarSkill','id_robarTag','robarTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('robarBase','id_robarMod','id_robarSkill','id_robarTag','robarTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="trampasNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="trampasTag" id="id_trampasTag" onchange="actualizarHabilidades()" {%if object.trampasTag%}Checked{%endif%}> TRAMPAS/EXPLOSIVOS » (0%+PE+AG)</td>
                <td class="fallout-font col-1" id="trampasBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="trampasSkill" type="text" id="id_trampasSkill" value="{{object.trampasSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="trampasMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.trampasMod}}" min="0" id="id_trampasMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="trampasTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('trampasBase','id_trampasMod','id_trampasSkill','id_trampasTag','trampasTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('trampasBase','id_trampasMod','id_trampasSkill','id_trampasTag','trampasTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="cienciaNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="cienciaTag" id="id_cienciaTag" onchange="actualizarHabilidades()" {%if object.cienciaTag%}Checked{%endif%}> CIENCIA » (0%+4xIN)</td>
                <td class="fallout-font col-1" id="cienciaBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="cienciaSkill" type="text" id="id_cienciaSkill" value="{{object.cienciaSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="cienciaMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.cienciaMod}}" min="0" id="id_cienciaMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="cienciaTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('cienciaBase','id_cienciaMod','id_cienciaSkill','id_cienciaTag','cienciaTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('cienciaBase','id_cienciaMod','id_cienciaSkill','id_cienciaTag','cienciaTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="repararNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="repararTag" id="id_repararTag" onchange="actualizarHabilidades()" {%if object.repararTag%}Checked{%endif%}> REPARAR » (0%+3xIN)</td>
                <td class="fallout-font col-1" id="repararBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="repararSkill" type="text" id="id_repararSkill" value="{{object.repararSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="repararMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.repararMod}}" min="0" id="id_repararMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="repararTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('repararBase','id_repararMod','id_repararSkill','id_repararTag','repararTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('repararBase','id_repararMod','id_repararSkill','id_repararTag','repararTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="pilotarNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="pilotarTag" id="id_pilotarTag" onchange="actualizarHabilidades()" {%if object.pilotarTag%}Checked{%endif%}> PILOTAR » (0%+2x(AG+PE))</td>
                <td class="fallout-font col-1" id="pilotarBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="pilotarSkill" type="text" id="id_pilotarSkill" value="{{object.pilotarSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="pilotarMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.pilotarMod}}" min="0" id="id_pilotarMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="pilotarTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('pilotarBase','id_pilotarMod','id_pilotarSkill','id_pilotarTag','pilotarTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('pilotarBase','id_pilotarMod','id_pilotarSkill','id_pilotarTag','pilotarTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="conversacionNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="conversacionTag" id="id_conversacionTag" onchange="actualizarHabilidades()" {%if object.conversacionTag%}Checked{%endif%}> CONVERSACION » (0%+(5xCA))</td>
                <td class="fallout-font col-1" id="conversacionBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="conversacionSkill" type="text" id="id_conversacionSkill" value="{{object.conversacionSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="conversacionMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.conversacionMod}}" min="0" id="id_conversacionMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="conversacionTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('conversacionBase','id_conversacionMod','id_conversacionSkill','id_conversacionTag','conversacionTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('conversacionBase','id_conversacionMod','id_conversacionSkill','id_conversacionTag','conversacionTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="truequeNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="truequeTag" id="id_truequeTag" onchange="actualizarHabilidades()" {%if object.truequeTag%}Checked{%endif%}> TRUEQUE » (0%+(4xCA))</td>
                <td class="fallout-font col-1" id="truequeBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="truequeSkill" type="text" id="id_truequeSkill" value="{{object.truequeSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="truequeMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.truequeMod}}" min="0" id="id_truequeMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="truequeTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('truequeBase','id_truequeMod','id_truequeSkill','id_truequeTag','truequeTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('truequeBase','id_truequeMod','id_truequeSkill','id_truequeTag','truequeTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="juegoNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="juegoTag" id="id_juegoTag" onchange="actualizarHabilidades()" {%if object.juegoTag%}Checked{%endif%}> JUEGO » (0%+(5xSU))</td>
                <td class="fallout-font col-1" id="juegoBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="juegoSkill" type="text" id="id_juegoSkill" value="{{object.juegoSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="juegoMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.juegoMod}}" min="0" id="id_juegoMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="juegoTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('juegoBase','id_juegoMod','id_juegoSkill','id_juegoTag','juegoTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('juegoBase','id_juegoMod','id_juegoSkill','id_juegoTag','juegoTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="vidaAlAireLibreNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="vidaAlAireLibreTag" id="id_vidaAlAireLibreTag" onchange="actualizarHabilidades()" {%if object.vidaAlAireLibreTag%}Checked{%endif%}> VIDA AL AIRE LIBRE » (0%+2x(RE+IN))</td>
                <td class="fallout-font col-1" id="vidaAlAireLibreBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="vidaAlAireLibreSkill" type="text" id="id_vidaAlAireLibreSkill" value="{{object.vidaAlAireLibreSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="vidaAlAireLibreMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.vidaAlAireLibreMod}}" min="0" id="id_vidaAlAireLibreMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="vidaAlAireLibreTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('vidaAlAireLibreBase','id_vidaAlAireLibreMod','id_vidaAlAireLibreSkill','id_vidaAlAireLibreTag','vidaAlAireLibreTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('vidaAlAireLibreBase','id_vidaAlAireLibreMod','id_vidaAlAireLibreSkill','id_vidaAlAireLibreTag','vidaAlAireLibreTotal')"/></nobr></td>
              </tr>
              <tr class="fallout-font border-bottom border-dark" id="atletismoNode">
                <td class="fallout-font col-6"><input class="fallout-font form-check-input" type="checkbox" name="atletismoTag" id="id_atletismoTag" onchange="actualizarHabilidades()" {%if object.atletismoTag%}Checked{%endif%}> ATLETISMO » (5%+2x(FU+AG))</td>
                <td class="fallout-font col-1" id="atletismoBase"> *** </td>
                <td class="fallout-font col-1"><input class="fallout-font d-none" name ="atletismoSkill" type="text" id="id_atletismoSkill" value="{{object.atletismoSkill}}"> % </td>
                <td class="fallout-font col-1"><input type="text" name="atletismoMod" class="fallout-font form-control p-0 m-0 shadow-none no-border" value="{{object.atletismoMod}}" min="0" id="id_atletismoMod" onchange="actualizar()"></td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1" id="atletismoTotal"> *** </td>
                <td class="fallout-font col-1"> % </td>
                <td class="fallout-font col-1"><nobr><img src="{% static 'minus-circle.svg'%}" width="14" heigth="14" onclick="habilidadMinus('atletismoBase','id_atletismoMod','id_atletismoSkill','id_atletismoTag','atletismoTotal')" /> <img src="{% static 'plus-circle.svg'%}" width="14" heigth="14" onclick="habilidadPlus('atletismoBase','id_atletismoMod','id_atletismoSkill','id_atletismoTag','atletismoTotal')"/></nobr></td>
              </tr>

            </tbody>
          </table>
    </div>
</div>

<script src="{%static '/js/planilla-fallout.js'%}"></script>
<script src="{%static '/js/penejoteador.js'%}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        actualizarHabilidades();
        actualizarModificadoresAtributosSecundarios();
        });
</script>

{% endblock %}