{% extends "base.html" %}

{% block content  %}
{% load static %}
{% load l10n %}

{% block title %}<title>Crear Reporte Viaticos por Agente</title>{% endblock title %}

<br>
<form action="{% url "secretariador:crear-reporte-viaticos-por-area" %}" method="get">

    <!-- Select Fecha-->
    <!-- Select Mes -->
    <div class="input-group">
        <div class="form-floating col-3">
            <input type="date" name="fecha_inicial" placeholder="Fecha Inicial" rows="3" autocomplete="off" class="form-control" id="id_fecha_inicial">
            <label for="id_fecha_inicial">Fecha Desde</label>
        </div>
        <!-- Select Final-->
        <div class="form-floating col-3">
            <input type="date" name="fecha_final" placeholder="Fecha Final" rows="3" autocomplete="off" class="form-control" id="id_fecha_final">
            <label for="id_fecha_final">Fecha Hasta(Fecha mas actual)</label>
        </div>
    </div>

    <input type='submit' value='Buscar' class="px-5 btn btn-primary" />
</form>
<span class="text-center"><h4>Mostrando registros desde el {{solicitud.fecha_inicial|date:"SHORT_DATE_FORMAT"}} hasta el {{solicitud.fecha_final|date:"SHORT_DATE_FORMAT"}}.</h4></span>
<TABLE class="table table-bordered" id="tablaReporte">
    <THEAD>
        <TR>
            <TH class="align-middle">Agente</TH>
            <TH class="align-middle">Días</TH>
            <TH class="align-middle">Viáticos</TH>
            <TH class="align-middle">Combustible</TH>
            <TH class="align-middle">Gastos</TH>
            <TH class="align-middle">Pasajes</TH>
            <TH class="align-middle">Total</TH>
        </TR>
    </THEAD>
    <TBODY>
        {% for s, d in solicitud.comisionados.items %}
        <TR id="{{object.id}}">
            <TD class="col border align-middle">{{s}}</TD>
            <TD class="col border align-middle">{{d.cantidad_de_dias}}</TD>
            <TD class="col border align-middle">{{d.viatico}}</TD>
            <TD class="col border align-middle">{{d.combustible}}</TD>
            <TD class="col border align-middle">{{d.gastos}}</TD>
            <TD class="col border align-middle">{{d.pasaje}}</TD>
            <TD class="col border align-middle">{{d.valor_viatico}}</TD>
        {% endfor %}

        <TFOOT>
        <tr>
            <th scope="col" style="text-align:right">Totales:</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
</TABLE>

<script>
    new DataTable('#tablaReporte', {
    info: false,
    paging: false,
    order: [[ 1, 'desc' ]],
    "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[.]/g, '').replace(/[,]/g,'.')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
            for (let n =2; n <= 6; n++) {
            // Total over all pages
            total = api.column( n ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Total over this page
            pageTotal = api.column( n, { page: 'current'} ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Update footer
            $( api.column( n ).footer() ).html(
                '$'+pageTotal.toLocaleString() +' ( $'+ total.toLocaleString() +' total)'
            );
        }
        totalDias = api.column( 1 ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Total over this page
            pageTotalDias = api.column( 1, { page: 'current'} ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Update footer
            $( api.column( 1 ).footer() ).html(
                pageTotalDias.toLocaleString() +' ( '+ totalDias.toLocaleString() +' total)'
            );

    }
});

</script>
{% endblock %}