{% extends "base.html" %}

{% block content %}
{% load static %}
{% load l10n %}

{% block title %}<title>Reporte Comisiones que se repiten en la misma fecha y localidad</title>{% endblock title %}

<br>
<form action="{% url "secretariador:crear-reporte-duplicados" %}" method="get">

    <!-- Select Fecha-->
    <!-- Select Mes -->
    <div class="input-group">
        <div class="form-floating col-3 d-print-none">
            <input type="date" name="fecha_inicial" placeholder="Fecha Inicial" rows="3" autocomplete="off" class="form-control" id="id_fecha_inicial">
            <label for="id_fecha_inicial">Fecha Desde</label>
          </div>
          <!-- Select Final-->
          <div class="form-floating col-3 d-print-none">
            <input type="date" name="fecha_final" placeholder="Fecha Final" rows="3" autocomplete="off" class="form-control" id="id_fecha_final">
            <label for="id_fecha_final">Fecha Hasta(Fecha mas actual)</label>
          </div>
    </div>
    
    <input type='submit' value='Buscar' class="px-5 btn btn-primary d-print-none" />
</form>
<span class="text-center"><h4>Mostrando registros desde el {{solicitud.fechas.fecha_inicial|date:"SHORT_DATE_FORMAT"}} hasta el {{solicitud.fechas.fecha_final|date:"SHORT_DATE_FORMAT"}}.</h4></span>
<TABLE class="table table-bordered" id="tablaReporte">
    <THEAD>
        <TR>
            <TH class="align-middle">Fecha</TH>
            <TH class="align-middle">Actuación</TH>
            <TH class="align-middle">Solicitante</TH>
            <TH class="align-middle">Cantidad de días</TH>
            <TH class="align-middle">Localidades</TH>
            <TH class="align-middle">Comisionados</TH>
            <TH class="align-middle">Tareas</TH>
        </TR>
    </THEAD>
    <TBODY>
        {% for s, d in solicitud.duplicados.items %}
        <TR id="{{object.id}}">
            <TD class="align-middle bg-secondary text-white">{{s.0}}</TD>
            <TD class="align-middle bg-secondary text-white"></TD>
            <TD class="align-middle bg-secondary text-white"></TD>
            <TD class="align-middle bg-secondary text-white"></TD>
            <TD class="align-middle bg-secondary text-white"></TD>
            <TD class="align-middle bg-secondary text-white"></TD>
            <TD class="align-middle bg-secondary text-white"></TD>
        </TR>
            {% for actuacion in d %}
            <TR id="{{object.id}}_detalle">
                <TD class="align-middle"></TD>
                <TD class="align-middle">{{actuacion.0}}</TD>
                <TD class="align-middle">{{actuacion.1}}</TD>
                <TD class="align-middle">{{actuacion.4}}</TD>
                <TD class="align-middle">{% for a in actuacion.5 %}{{a}}{% if not forloop.last %}, {% endif %}{% endfor %}</TD>
                <TD class="align-middle">{% for a in actuacion.2 %}{{a}}{% if not forloop.last %}, {% endif %}{% endfor %}</TD>
                <TD class="align-middle">{{actuacion.3}}</TD>
            </TR>
            {% endfor %}
        {% endfor %}
    </TBODY>
</TABLE>

{% endblock %}