{% extends "base.html"%}

{% block content %}
{%block title%}<title>Viaticos</title>{%endblock title%}

{% load humanize %}
{% load static%}
<style>
    @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
    table {
        table-layout: fixed;
        text-align: center;
        padding: 0.25em 0.5em 0.25em 1em;
        font-family: Lato, Arial, sans-serif;
    }
    thead tr:nth-child(1) th{
        background: rgba(230,230,230,1);
        position: sticky;
        top: 0;
        z-index: 10;
    }
    td:nth-of-type(7) {
        width: 8%;
        text-align: right !important;
        font-size: 100%;
      }
    td:nth-of-type(11),td:nth-of-type(12) {
    text-align: right !important;
    }
    tr,
    td{
        padding: 0.25em 0.5em 0.25em 1em;
        vertical-align: text-top;
        text-align: left;
    }
    th {
        font-size: 110%;
        padding: 0.25em 0.5em 0.25em 1em;
    }
    tr:nth-child(even) {
        background-color: rgba(255,255,255,1);
    }
    tr:nth-child(odd) {
        background-color: rgba(240,240,240,1);
    }
    </style>

<TABLE class="cabecera" id="tablaReporte">
    <THEAD>
        <TR>
            <TH>Actuacion</TH>
        </TR>
    </THEAD>
    <TBODY>
        {%for s in solicitud%}
        <TR id="{{object.id}}">
            <TD class="col border align-middle">{{s.solicitud_actuacion}}</TD>
        {%endfor%}
    <TFOOT>
        <tr>
            <th scope="col"></th>
        </tr>
</TABLE>
{% endblock %}