<!-- Administrative tools -->
{% if user.is_superuser %}
<h2 class="text-center text-wrap border-bottom border-dark">Low Tech Administrative tools</h2>
  {% if object%}
      <a href="" class="list-group-item list-group-item-action"><b>Objeto Actual:</b> {{object.id}}</a>
      <a href="{{idanteriorobjeto.get_absolute_url}}" class="list-group-item list-group-item-action"> <b>Objeto Anterior:</b> ({{idanteriorobjeto.id}}) - {{idanteriorobjeto}}</a>
      <a href="{{idsiguienteobjeto.get_absolute_url}}" class="list-group-item list-group-item-action"> <B>Objeto Siguiente:</b> ({{idsiguienteobjeto.id}}) - {{idsiguienteobjeto}}</a>

    <div class="row">
      <div class="col-6">
        <a href="{{idanteriorobjeto.get_absolute_url}}" type="button" class="mx-auto my-1 btn btn-secondary btn-block w-100"><< Anterior</a>
      </div>
      <div class="col-6">
        <a href="{{idsiguienteobjeto.get_absolute_url}}" type="button" class="mx-auto my-1 btn btn-secondary btn-block w-100">Siguiente >></a>
      </div>
    </div>
  {% endif %}
{% endif%}