{{formset.management_form}}
<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Montos</legend>
    <div id="contratomonto-form" class="contratomonto-form">
        {% for form in formset %}
            <div class="row m-1 border border-dark rounded" id="contratomonto-form-{{form.prefix}}">  

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="row">
                    <div class="col pb-1">
                        {{form.contratomonto_rubro.as_field_group}}
                    </div>
                    <div class="col pb-1">
                        {{form.contratomonto_financiamiento.as_field_group}}
                    </div>
                    <div class="col pb-1">
                        {{form.contratomonto_pesos.as_field_group}}
                    </div>
                    <div class="col pb-1">
                        {{form.contratomonto_uvi.as_field_group}}
                    </div>
                    <div class="col pb-1">
                        {{form.contratomonto_uvi_fecha.as_field_group}}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for dict in formset.errors %}
            {% for error in dict.values %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </div>
<div id="empty_form" style="display:none">
    <div class="row m-1 border border-dark rounded" id="contratomonto-form-{{form.prefix}}">  
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="row">
            <div class="col pb-1">
                {{formset.empty_form.contratomonto_rubro.as_field_group}}
            </div>
            <div class="col pb-1">
                {{formset.empty_form.contratomonto_financiamiento.as_field_group}}
            </div>
            <div class="col pb-1">
                {{formset.empty_form.contratomonto_pesos.as_field_group}}
            </div>
            <div class="col pb-1">
                {{formset.empty_form.contratomonto_uvi.as_field_group}}
            </div>
            <div class="col pb-1">
                {{formset.empty_form.contratomonto_uvi_fecha.as_field_group}}
            </div>      
        </div>
    </div>
</div>
</fieldset>
