{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}
<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">Contrato</div>
    <div class="card-body p-2">
        <div class="form-group">
            {{form.contratodigital_tipo.as_field_group}}
        </div>
        <div class="form-group">
            {{form.contratodigital_contrato.as_field_group}}
        </div>
        <div class="form-group">
            {{form.contratodigital_descripcion.as_field_group}}
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">Archivo</div>
    <div class="card-body p-2">
        <div class="form-group">
            {{form.contratodigital_archivo.as_field_group}}
        </div>
    </div>
</div>
