{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}

{{ form.non_field_errors }}

<div class="card mb-3">
    <div class="card-header py-2 bg-body-tertiary fw-semibold small">Plan de Trabajos</div>
    <div class="card-body p-2">
        <div class="form-group">
            {{form.trabajos_obra.as_field_group}}
        </div>
        <div class="form-group">
            {{form.trabajos_fecha.as_field_group}}
        </div>
        <div class="form-group">
            {{form.trabajos_meses.as_field_group}}
        </div>
        <div class="form-group">
            {{form.trabajos_contrato.as_field_group}}
        </div>
    </div>
</div>
