{{formset.management_form}}
<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Items</legend>
    <div id="plandetrabajositem-form" class="plandetrabajositem-form">
        {% for form in formset %}
            <div class="row m-1 border border-dark rounded" id="plandetrabajositem-form-{{form.prefix}}">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="row">
                    <div class="col-2 pb-1">
                        {{form.planitem_orden.as_field_group}}
                    </div>
                    <div class="col pb-1">
                        {{form.planitem_nombre.as_field_group}}
                    </div>
                    <div class="col-2 pb-1">
                        {{form.planitem_incidencia_pct.as_field_group}}
                    </div>
                    {% if form.DELETE %}
                    <div class="col-1 pb-1">
                        {{form.DELETE.as_field_group}}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for dict in formset.errors %}
            {% for error in dict.values %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        {{ formset.non_form_errors }}
    </div>
<div id="empty_form" style="display:none">
    <div class="row m-1 border border-dark rounded" id="plandetrabajositem-form-{{form.prefix}}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="row">
            <div class="col-2 pb-1">
                {{formset.empty_form.planitem_orden.as_field_group}}
            </div>
            <div class="col pb-1">
                {{formset.empty_form.planitem_nombre.as_field_group}}
            </div>
            <div class="col-2 pb-1">
                {{formset.empty_form.planitem_incidencia_pct.as_field_group}}
            </div>
        </div>
    </div>
</div>
</fieldset>
