{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}
<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Datos de la Póliza</legend>
    <div class="form-group">
        {{form.poliza_aseguradora.as_field_group}}
    </div>
    <div class="form-group">
        {{form.poliza_tomador.as_field_group}}
    </div>
    <div class="form-group">
        {{form.poliza_obra.as_field_group}}
    </div>
    <div class="row">
        <div class="col-md-4">
            {{form.poliza_concepto.as_field_group}}
        </div>
        <div class="col-md-4">
            {{form.poliza_numero.as_field_group}}
        </div>
        <div class="col-md-4">
            {{form.poliza_fecha.as_field_group}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.poliza_anexo.as_field_group}}
        </div>
        <div class="col-md-6">
            {{form.poliza_recibo.as_field_group}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.poliza_monto_pesos.as_field_group}}
        </div>
        <div class="col-md-6">
            {{form.poliza_monto_uvi.as_field_group}}
        </div>
    </div>
</fieldset>

<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Actuación y Póliza Digital</legend>
    <div class="form-group">
        {{form.poliza_expediente.as_field_group}}
    </div>
    <div class="form-group">
        {{form.poliza_digital.as_field_group}}
    </div>
</fieldset>
