{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}

{{ form.non_field_errors }}
<div class="card mb-3">
    <div class="card-header py-2 bg-body-tertiary fw-semibold small">Datos de la Póliza</div>
    <div class="card-body p-2">
        <div class="form-group">
            {{form.poliza_aseguradora.as_field_group}}
        </div>
        <div class="form-group">
            {{form.poliza_tomador.as_field_group}}
        </div>
        <div class="form-group">
            {{form.poliza_obra.as_field_group}}
        </div>
        <div class="form-group">
            {{form.poliza_contrato.as_field_group}}
        </div>
        <div class="row">
            <div class="col-md-3">
                {{form.poliza_concepto.as_field_group}}
            </div>
            <div class="col-md-3">
                {{form.poliza_financiamiento.as_field_group}}
            </div>
            <div class="col-md-3" id="poliza-anticipo-pct-wrap">
                {{form.poliza_anticipo_pct.as_field_group}}
            </div>
            <div class="col-md-3">
                {{form.poliza_numero.as_field_group}}
            </div>
        </div>
        <div class="alert alert-info py-2 small" id="garantia-sugerida-box">
            <strong>Monto sugerido a cubrir por la garantía (referencia, no se autocompleta):</strong>
            <div id="garantia-sugerida-texto">Complete Obra, Contrato, Financiamiento y Concepto.</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{form.poliza_fecha.as_field_group}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{form.poliza_anexo.as_field_group}}
            </div>
            <div class="col-md-6">
                {{form.poliza_recibo.as_field_group}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{form.poliza_monto_pesos.as_field_group}}
            </div>
            <div class="col-md-6">
                {{form.poliza_monto_uvi.as_field_group}}
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header py-2 bg-body-tertiary fw-semibold small">Actuación y Póliza Digital</div>
    <div class="card-body p-2">
        <div class="form-group">
            {{form.poliza_expediente.as_field_group}}
        </div>
        <div class="form-group">
            {{form.poliza_digital.as_field_group}}
        </div>
    </div>
</div>
