{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}
<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">Datos de la Póliza</div>
    <div class="card-body p-2">
        <div class="form-group">
            {{form.poliza_aseguradora.as_field_group}}
        </div>
        <div class="form-group">
            {{form.poliza_tomador.as_field_group}}
        </div>
        <div class="form-group">
            {{form.poliza_obra.as_field_group}}
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.poliza_concepto.as_field_group}}
            </div>
            <div class="col-md-4">
                {{form.poliza_numero.as_field_group}}
            </div>
            <div class="col-md-4">
                {{form.poliza_fecha.as_field_group}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{form.poliza_anexo.as_field_group}}
            </div>
            <div class="col-md-6">
                {{form.poliza_recibo.as_field_group}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{form.poliza_monto_pesos.as_field_group}}
            </div>
            <div class="col-md-6">
                {{form.poliza_monto_uvi.as_field_group}}
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header py-2 bg-light fw-semibold small">Actuación y Póliza Digital</div>
    <div class="card-body p-2">
        <div class="form-group">
            {{form.poliza_expediente.as_field_group}}
        </div>
        <div class="form-group">
            {{form.poliza_digital.as_field_group}}
        </div>
    </div>
</div>
