{% for hidden in form.hidden_fields %}
      {{ hidden }}
{% endfor %}
<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Obra</legend>
    <div class="form-group">
        {{form.resoluciondigital_numero.as_field_group}}
    </div>
    <div class="form-group">
        {{form.resoluciondigital_obra.as_field_group}}
    </div>
    <div class="form-group">
        {{form.resoluciondigital_descripcion.as_field_group}}
    </div>
</fieldset>

<fieldset class="border rounded border-dark p-1">
    <legend class="border-bottom border-dark bg-dark text-white rounded p-1">Archivo</legend>
    <div class="form-group">
        {{form.resoluciondigital_archivo.as_field_group}}
    </div>
</fieldset>
