{% extends "base.html" %}
{% block content %}
{%block title%}<title>{{object.id}}-{{object.region_numero}}</title>{%endblock title%}

<div class="container">
    <form action="{% url "carga:update-region" object.id %}" method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
    
        {{form.as_div}}

        <div class="container ml-2 pt-2">
          <input type='submit' value='Guardar' class="btn btn-primary" />
          <a href="{% url 'carga:lista-regiones' %}" type="button" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>

{% endblock %}